<template>
	<div>
		<a class="list-group-item list-group-item-action align-items-start clickable" @click.prevent="showEvent()">
			<div class="listItem">
				<div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<img :src="'/images/event/list/'+event.image_id" class="img">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<h3 class="mb-1">{{ event.name }}</h3>
						<p>
							<b> De </b> {{event.initDate.substring(0,16)}} <b> até </b> {{event.finishDate.substring(0,16)}}

						</p>
						<p v-if="event.spaceName">
							<b>Nome do Espaço:</b> {{ event.spaceName }}
						</p>
						<p>
							<b>Categoria:</b> {{event.categoryName}}
						</p>
						<p>
							<b>Etiquetas:</b> <span v-for="tag in event.tags">#{{ tag }} </span>
						</p>
						
						<p v-if="event.status == 2">
							<span class="error-span"><strong>Aviso: Evento Cancelado Pelo Promotor</strong></span>
						</p>
					</div>
				</div>
			</div>
		</a>
	</div>
</template>
<script type="text/javascript">

	export default{

		props: ['event'],

		created() {

		},

		mounted() {
			console.log('event component mounted.');
		},

		methods: {

			showEvent()
			{
				window.location.href = '/event/'+this.event.id;
			},

			formatDate(date) {
				var data = new Date(date);

				var weekday = new Array(7);
				weekday[0] = "Domingo";
				weekday[1] = "Segunda-Feira";
				weekday[2] = "Terça-Feira";
				weekday[3] = "Quarta-Feira";
				weekday[4] = "Quinta-Feira";
				weekday[5] = "Sexta-Feira";
				weekday[6] = "Sábado";

				var month=new Array();
				month[0]="Janeiro";
				month[1]="Fevereiro";
				month[2]="Março";
				month[3]="Abril";
				month[4]="Maio";
				month[5]="Junho";
				month[6]="Julho";
				month[7]="Agosto";
				month[8]="Setembro";
				month[9]="Outubro";
				month[10]="Novembro";
				month[11]="Dezembro";

				var dateString = weekday[data.getDay()]+", "+(data.getDate() < 10 ? "0"+data.getDate() : data.getDate())+" de "+month[data.getMonth()]+" de "+(data.getYear()+1900);

				return dateString;
			},
		}

	}


</script>

<style>
	.listItem {
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
	}

	.img {
		max-width: 100%;
		height: auto;
	}

	.button-wrapper {
		padding-top: 2px;
		text-align: right;
	}

	.clickable {
		cursor: pointer;
	}

	.error-span {
		color:#ff4d4d;
	}

</style>