<template>
	<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">


	<div :class="evaluation ? 'col-md-4 col-sm-4 col-xs-12 inline' : 'col-md-6 col-sm-6 col-xs-12 inline'">
		<h4>Promotor:</h4> {{ user.name }} (<a class="clicable" @click.prevent="showPromotorProfile()">Ver Perfil <span class="glyphicon glyphicon-share"></span></a>)
	</div>
	<div v-if="evaluation" class="col-md-2 buttonGroupEvent">
		<button class="button is-medium is-primary col-md-10" @click.prevent="evalEvent()">Avaliar</button>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="buttonGroupEvent col-md-12 col-sm-12 col-xs-12">
			<div v-if="!guest && !owner">
				<div v-if="following">
					<a class="button is-warning is-medium col-md-3 col-sm-3 col-xs-12" @click.prevent="toggleFollow()">Não Seguir</a>
				</div>
				<div v-else>
					<a class="button is-success is-medium col-md-3 col-sm-3 col-xs-12" @click.prevent="toggleFollow()">Seguir</a>
				</div>
			</div>
			
			<div v-if="!owner">
				<a class="button is-danger is-medium col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3 col-xs-12" @click.prevent="reportEvent()">Denunciar</a>
			</div>
		</div>
	</div>
</div>
</template>

<script>

	const Event = require('../../classes/event.js');

	export default{

		props: ['event_id', 'event_owner', 'is_guest', 'is_following', 'in_evaluation', 'is_owner', 'eval_type'],

		created() {
			this.user = JSON.parse(this.event_owner);
			this.guest = (this.is_guest == 'true');
			this.following = (this.is_following == 'true');
			this.evaluation = (this.in_evaluation == 'true');
			this.owner = (this.is_owner == 'true');
			this.evalType = JSON.parse(this.eval_type);
		},

		mounted() {
			console.log('Event options component mounted.');
		},

		data() {

			return {

				user : undefined,

				guest : false,

				owner : false,

				following : false,

				performingRequest : false,

				evaluation : false,

				evalType: undefined,
			}

		},

		methods: {

			showPromotorProfile()
			{
				window.location.href = '/user/profile/'+this.user.id;
			},

			reportEvent()
			{
				window.location.href = '/event/report/'+this.event_id;
			},

			toggleFollow()
			{
				if(!this.performingRequest) {
					this.following = !this.following;
					this.performingRequest = true;
					var instance = this;
					axios.post('/event/follow/'+this.event_id)
					.then(response => {
						instance.performingRequest = false;
					})
					.catch(errors => {
						instance.performingRequest = false;
						this.following = !this.following;
					});
				}

			},

			evalEvent()
			{
				if( this.evalType == 'free') {
					window.location = '/event/evaluate/'+this.event_id;
				} else {
					window.location = '/event/evaluate/'+this.event_id+'/permition';
				}
			},
		}

	}
</script>

<style>
	.clicable {
		cursor: pointer;
	}

	.buttonGroupEvent button {
		margin-bottom: 5px;
	}

	.inline {
		word-wrap: nowrap;
	}

</style>