<template>
	<div>
		<div id="textHolder" class="col-md-7 col-sm-7 advertedText">
			<div class="col-md-12">
				<div v-if="user == null">
					<h4 class="subtittle" >Crie já a sua conta e tenha acesso a:</h4>
					<ul>
						<li>Ferramentas para promover o seu evento</li>
						<li>Possibilidade de seguir os eventos de perto</li>
					</ul>
					<button @click.prevent="login()" class="button col-md-4 col-sm-5 col-xs-12 is-large is-primary colorButton">Criar uma nova Conta</button>
				</div>
				<div v-else>
					<h4 class="subtittle">Aproveite já as funcionalidades ofericadas para gerir o seu próprio evento!</h4>
					<button @click.prevent="promote()" class="button col-md-4 col-sm-5 col-xs-12 is-large is-primary colorButton">Promover Evento</button>
				</div>

				<br><br>
			</div>
			<div id="paddintTopArea" class="col-md-12">

				<h4 class="subtittle">Deseja procurar eventos na sua área?</h4>
				<button @click.prevent="events()" class="button col-md-4 col-sm-5 col-xs-12 is-large is-primary colorButton">Eventos Publicitados</button>
			</div>
		</div>
		<div id="cardHolder" class="col-md-4 col-sm-4 col-xs-12">
			<div class="card featuredEvent">
				<div class="card-image">
					<figure class="image is-4by3">
						<img class="img-responsive" :src="event.image" alt="Image">
					</figure>
				</div>
				<div class="card-content" align="center">
					<p class="title">{{ event.name }}</p>
					<p class="title">{{ event.initDate }}</p>
					<p class="title">{{ event.district }}</p>
				</div>
				<footer class="card-footer">
					<a class="card-footer-item button is-success is-large" @click.prevent="eventDetails()">Ver Mais Detalhes</a>
				</footer>
			</div>
		</div>
	</div>

</template>

<script>

	const Event = require('../../classes/event.js');

	export default {
		props: ['encoded'],

		created() {	
			console.log(this.encoded);

			this.user = JSON.parse(this.encoded);
		},

		mounted() {

			this.getFeaturedEvent();

			var instance = this;

			setInterval(function() {
				instance.getFeaturedEvent();
			}, 20000);
		},

		data () {
			return  {
				event: {
					id: 1,
					name: '',
					initDate: '',
					district: '',
					image_id: '',
				},
				user: undefined,
			}
		},

		methods : {

			promote(){

				window.location.href = this.user == null ? '/login' : '/promotorView/create';
			},

			login(){
				window.location.href = '/login';
			},

			events(){
				window.location.href='/events';
			},
			
			getFeaturedEvent() {

				var instance = this;

				axios.get('/event/featured')
				.then(response => {
					instance.parse(JSON.parse(response.request.response));				
				})
				.catch(errors => {
					console.log(errors);
				}); 
			},

			parse (eventToParse){
				this.event.id = eventToParse.id;
				this.event.name = eventToParse.name;
				this.event.initDate = this.formatDate(eventToParse.initDate);
				this.event.district = eventToParse.district_id.name;
				this.event.image = eventToParse.image;
			},

			formatDate(date) {
				var data = new Date(date);

				var weekday = new Array(7);
				weekday[0] = "Domingo";
				weekday[1] = "Segunda-Feira";
				weekday[2] = "Terça-Feira";
				weekday[3] = "Quarta-Feira";
				weekday[4] = "Quinta-Feira";
				weekday[5] = "Sexta-Feira";
				weekday[6] = "Sábado";

				var month=new Array();
				month[0]="Janeiro";
				month[1]="Fevereiro";
				month[2]="Março";
				month[3]="Abril";
				month[4]="Maio";
				month[5]="Junho";
				month[6]="Julho";
				month[7]="Agosto";
				month[8]="Setembro";
				month[9]="Outubro";
				month[10]="Novembro";
				month[11]="Dezembro";

				var dateString = weekday[data.getDay()]+", "+(data.getDate() < 10 ? "0"+data.getDate() : data.getDate())+" de "+month[data.getMonth()]+" de "+(data.getYear()+1900);

				return dateString;
			},

			eventDetails() {
				window.location.href = '/event/'+this.event.id;
			}

		}
	}
</script>

<style>

	#paddintTopArea{
		margin-top:35px;
	}

	#cardHolder{
		margin-bottom:10px;
	}

	#textHolder{
		font-size: 17px;
	}



</style>