<template>

    <div id="file-upload" class="col-xs-10 col-xs-offset-1">
        <div>
            <vue-cropper
            ref="cropper"
            :view-mode="this.options.viewMode"
            :aspect-ratio="this.options.aspectRatio"
            :src="this.image"
            alt="Source Image">
        </vue-cropper>
        <div class="buttonArea">
            <button @click.prevent="rotate(90)" class="col-xs-offset-1 col-xs-2 button is-info is-medium">
                <span class="fa fa-rotate-right"></span>
            </button>
            <button @click.prevent="rotate(-90)" class="col-xs-2 button is-info is-medium rightButton">
                <span class="fa fa-rotate-left"></span>
            </button>
            <button @click.prevent="zoomIn()" class="col-xs-offset-2 col-xs-2 button is-info is-medium ">
                <span class="fa fa-search-plus"></span>
            </button>
            <button @click.prevent="zoomOut()" class="col-xs-2 button is-info is-medium rightButton">
                <span class="fa fa-search-minus"></span>
            </button>
        </div>
        <div>
            <label id="select-file" class="button is-medium 
            is-info btn-default btn-file col-sm-4 col-sm-offset-1 col-xs-offset-2 col-xs-8 col-xs-offset-1">
            Selecionar Ficheiro 
            <input type="file" name="image" 
            accept="image/*" style="display:none;"
            @change="this.setImage"/>
        </label>
        <button class="button is-success is-medium col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8" @click.prevent="cropImage()">
            Confirmar Recorte
        </button>
    </div>


</div>
</div>

</div>
</template>

<script>
    import VueCropper from 'vue-cropperjs';

    export default{

        props: ['imageSource', 'aspectRatio'],
        

        data(){
            return {
                hasCropped: false,
                image: this.imageSource,
                options: {
                    aspectRatio: parseFloat(this.aspectRatio),
                    viewMode: 2,

                },
                loading: false,
            }
        },

        methods: {
            setImage (e) {
                const file = e.target.files[0];

                if (!file.type.includes('image/')) {
                    alert('Por favor selecione uma imagem.');
                    return;
                }

                if (typeof FileReader === 'function') {
                    this.loading=true;
                    const reader = new FileReader();

                    const instance = this;
                    
                    reader.onload = function (event) {
                        const image = new Image();
                        const data = event.target.result;

                        image.onload = function(imageEvent) {

                            let MAX_DIM = 2100;
                            var scalingFactor = 0;

                            var dimension = Math.max(image.width, image.height);
                            
                            if(dimension >= MAX_DIM){

                                scalingFactor = (MAX_DIM - 100) / dimension;

                                var canvas = document.createElement('canvas');
                                canvas.width = image.width * scalingFactor;
                                canvas.height = image.height * scalingFactor;
                                canvas.getContext('2d').drawImage(image, 0,0, canvas.width, canvas.height);
                                let dataURL = canvas.toDataURL();
                                instance.image = dataURL;
                                instance.$refs.cropper.replace(dataURL);
                            }
                            else{

                                instance.image = data;
                                instance.$refs.cropper.replace(data);
                            }                         
                            this.loading = false;
                        }

                        image.src = event.target.result;

                    }



                    /*
                    reader.onload = (event) => {
                        this.imgSrc = event.target.result;
                    // rebuild cropperjs with the updated source
                    this.$refs.cropper.replace(event.target.result);

                };*/

                reader.readAsDataURL(file);
            } else {
                alert('Apenas poderá selecionar imagens');
            }
        },

        cropImage () {
            // get image data for post processing, e.g. upload or setting image src
            this.$emit('cropped', this.$refs.cropper.getCroppedCanvas().toDataURL()); 

        },
        rotate (val) {
            // guess what this does :)
            this.$refs.cropper.rotate(val);
        },

        zoomOut() {
            this.$refs.cropper.zoom(-0.1);
        },

        zoomIn () {
            this.$refs.cropper.zoom(0.1);
        }
    }
}
</script>

<style type="text/css">

    #file-upload {
        margin-bottom: 15px;
    }

    #file-upload img {
        max-width: 100%;
        max-height: 960;

        display: block;
        margin:auto;
    }

    #buttonArea{
        margin-top:10px;
        margin-bottom: 15px;
    }

    #cropped-div{
        max-height: auto;
        display: block;
        margin:auto;
    }

    .rightButton{
        margin-left:1px;
    }
    #cropped-image{
        max-width: 100%; 
        border: 1px solid gray;
        margin-bottom: 15px;
    }


</style>