<template>
	<div>
		<google-maps :center="this.location" :lat="this.location.lat" :lng="this.location.lng"
					 :editable="this.editableMap"></google-maps>
	</div>

</template>
<script type="text/javascript">

	export default{

		props: ['lat', 'lng', 'editable'],

		data (){
			return {
				location: {
					lat: 0,
					lng: 0,
				},
				editableMap: false,
			}
		},

		created(){

			this.location.lat = JSON.parse(this.lat);
			this.location.lng = JSON.parse(this.lng);
			this.editableMap = JSON.parse(this.editable);
		},
	}
	
</script>