<template>
	<div class="col-xs-12 noPadding">
		<div class="col-xs-12 noPadding">
			<div class="col-xs-9 reducedPadding">
				<input class="form-control searchAreaField" type="text" name="search" placeholder="Insira o número do bilhete!" maxlength="50" v-model="searchWord">
			</div>
			<div class="col-xs-3 reducedPadding">
				<a @click.prevent="search()" class="button is-info is-large searchAreaField">Pesquisar</a>
			</div>
		</div>
		<div class="col-xs-12 noPadding">
			<br>
			<div v-if="shownTickets.length > 0" class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Número</th>
							<th>Tipo</th>
							<th>Preço</th>
							<th>Compra</th>
							<th>Estado</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(ticket, index) in shownTickets">
							<td>{{ ticket.identification_number }}</td>
							<td>{{ ticket.name }}</td>
							<td>{{ ticket.price }}€</td>
							<td>{{ ticket.created_at.substring(0,10) }}</td>
							<td>{{ getStatus(ticket.status) }}</td>
							<td v-if="ticket.status == 1">
								<a class="button is-success is-medium" @click.prevent="giveEntry(index)">Dar Entrada</a>
								<a class="button is-danger is-medium" @click.prevent="rejectEntry(index)">Rejeitar</a>
							</td>
							<td v-else>
								<a class="button is-warning is-medium" @click.prevent="revertOperation(index)">Reverter</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div v-else>
				<h4 class="center">Não foram encontrados Bilhetes</h4>				
			</div>
		</div>
		

	</div>

</template>

<script>
	export default{

		props: ['encoded'],

		created() {
			this.tickets = JSON.parse(this.encoded)[0];
		},

		mounted(){
			console.log('Event Entrances mounted.');

			this.shownTickets = this.tickets;
			this.event_id = this.tickets[0].event_id;
		},

		data () {
			return  {
				tickets: [],
				shownTickets: [],
				searchWord: '',
				event_id: '',
			}
		},

		methods: {
			search()
			{
				var instance = this;
				axios.post('/event/'+this.event_id+'/searchTickets', {searchWord: this.searchWord})
				.then( response => {
					console.log("Received Tickets");
					instance.shownTickets = [];
					instance.shownTickets = response.data;
				})
				.catch(error => {
					console.log(error); 
				});
			},

			giveEntry(index)
			{
				var instance = this;

				axios.post('/ticket/giveEntry/'+this.shownTickets[index].id)
				.then( response => {
					instance.shownTickets[index].status = '2';
				})
				.catch(error => {
					console.log(error);
				});
			},

			rejectEntry(index)
			{
				var instance = this;

				axios.post('/ticket/rejectEntry/'+this.shownTickets[index].id)
				.then( response => {
					instance.shownTickets[index].status = '3';
				})
				.catch(error => {
					console.log(error);
				});
			},

			revertOperation(index)
			{
				var instance = this;

				axios.post('/ticket/revertOperation/'+this.shownTickets[index].id)
				.then( response => {
					instance.shownTickets[index].status = '1';
				})
				.catch(error => {
					console.log(error);
				});
			},

			getStatus(status)
			{
				switch(status)
				{
					case '1': 
					return "Comprado";

					case '2':
					return "Aceite";

					case '3':
					return "Rejeitado";
				}
			},
		}

	}
</script>

<style>
	.searchAreaField {
		width: 100%;
	}

	.noPadding {
		padding: 0!important;
	}

	.reducedPadding {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.center {
		text-align: center;
	}
</style>