<template>
	<div class="col-md-12">
		<div class="row">
			<canvas id="tickets" width="800" height="400"></canvas>
		</div>
	</div>
</template>
<script>
	export default {

		props: ['tickets'],

		created() {
			this.ticketsData = JSON.parse(this.tickets);
		},

		mounted() {
			this.loadGraphs();
		},

		data () {
			return  {
				ticketsData: {
					labels: [],
					text: "",
					data: []
				},
			}
		},

		methods : {
			loadGraphs() {
				var Chart = require('chart.js');

				// Events Graph
				var ticketsElement = document.getElementById("tickets");
				var tickets = new Chart(ticketsElement, {
					type: 'line',
					data: {
						labels: this.ticketsData.labels,
						datasets: [{
							label: this.ticketsData.text,
							data: this.ticketsData.data,
							backgroundColor: 'rgba(0, 160, 0, 0.2)',
							borderColor: 'rgba(0, 160, 0, 1)',
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						legend: {
							onClick: (e) => e.stopPropagation()
						},
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero:true
								}
							}]
						}
					}
				});
			}
		}
	}
</script>

<style>
	

</style>