 <template>
 	<div>
 		<a class="list-group-item list-group-item-action align-items-start clickable" @click.prevent="showEvent()">
 			<div class="listItem">
 				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
 					<img :src="'/images/event/list/'+order.image_id" class="img">
 				</div>
 				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
 					<h3>{{order.name}}</h3>
 					<p>
 						<b> Inicio do Evento: </b> {{order.initDate.substring(0,16)}}
 					</p>
 					<p>
 						<b> Localização: </b> {{order.district}}
 					</p>
 					<p><b>Acerca de:</b>  {{order.category}}
 					<b> | </b>{{tagsToString()}}
 					</p>
 				</p>
 				<p>
 					<b> {{order.tickets}}</b> bilhetes reservados
 				</p>
 				<p>
 					<b> Reserva criada em:</b> {{order.created_at.substring(0,10)}}
 				</p>
 				<p>
 					<b> Total da Compra: {{order.ammount}} €</b> 
 				</p>
 			</div>
 		</div>
 	</a>
 	<div class="list-group-item list-group-item-action align-items-start button-wrapper">
 		<div>
 			<button class="col-sm-offset-6 button is-success is-medium" @click.prevents="showOrder()">Consultar Reserva</button>
 		</div>
 		 <div>
 			<button class="col-sm-offset-6 button is-success is-medium" @click.prevents="">Transmissão de Bilhetes</button>
 		</div>

 	</div>
 </div>
</template>
<script>

	export default{

		props: ['order'],

		mounted(){
			console.log('Following-event mounted.');
		},

		created() {
			this.initAlertify();
		},

		data () {
			return {
				following: true,
			}
		},

		methods: {

			showEvent(){
				window.location.href = '/event/'+ this.order.event_id;
			},

			showOrder()
			{
				window.location.href = '/user/personal/order/'+this.order.id;
			},

			tagsToString(){
				var str ='';

				for (var i = 0; i < this.order.tags.length; i++) {
					str += '#'+this.order.tags[i] + '  ';
				}

				return str;
			},

			initAlertify(){

				alertify.defaults.transition = "slide";
				alertify.defaults.theme.ok = "button is-primary is-large";
				alertify.defaults.theme.cancel = "button is-danger is-large";
				alertify.set('notifier', 'position', 'top-right');
				alertify.defaults.maintainFocus = false;
			},

			formatDate(date) {
				var data = new Date(date);

				var weekday = new Array(7);
				weekday[0] = "Domingo";
				weekday[1] = "Segunda-Feira";
				weekday[2] = "Terça-Feira";
				weekday[3] = "Quarta-Feira";
				weekday[4] = "Quinta-Feira";
				weekday[5] = "Sexta-Feira";
				weekday[6] = "Sábado";

				var month=new Array();
				month[0]="Janeiro";
				month[1]="Fevereiro";
				month[2]="Março";
				month[3]="Abril";
				month[4]="Maio";
				month[5]="Junho";
				month[6]="Julho";
				month[7]="Agosto";
				month[8]="Setembro";
				month[9]="Outubro";
				month[10]="Novembro";
				month[11]="Dezembro";

				var dateString = weekday[data.getDay()]+", "+(data.getDate() < 10 ? "0"+data.getDate() : data.getDate())+" de "+month[data.getMonth()]+" de "+(data.getYear()+1900);

				return dateString;
			},
		}
	}

</script>

<style>
	.listItem {
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
	}

	.img {
		max-width: 100%;
		height: auto;
	}

	.info-wrapper {
		margin-top:5px;
	}

	.button-wrapper{
		border-top: 0 none;
	}

	.clickable {
		cursor: pointer;
	}

</style>