.inline {
	display: inline-block;
	word-wrap: nowrap;
}

.wordwrap {
	word-break: break-all;
	text-align: justify;
    text-justify: inter-word;
}

.alignCenter {
	text-align: center;
}

.paddingTop {
	margin-top: 17px;
}

.alignRight {
	text-align: right;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.noPadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* RATING CSS */

fieldset, label { margin: 0; padding: 0; }
fieldset.rating { margin-right: 10px }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
	border: none;
}

.rating > input { display: none; } 
.rating > label:before { 
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before { 
	content: "\f089";
	position: absolute;
}

.rating > label { 
	color: #ddd; 
	float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 