.backgroundImg {
    /*background-image: url("../background_eventtracker.png");
    background-repeat: repeat-x;
    background-position: center;*/


    background: linear-gradient(#3399ff, #66b3ff);
}

.advertedText{
    margin-top: 170px;
    text-align: left;
    color: #ffffff;
}

.advertText button {
    text-align:  center;
}

.featuredEvent {
    margin: 50px 0 20px 0;

}

.otherEvents {
    margin-top: 40px;
}

a.card-footer-item {
    border-radius: 0px !important;
}

a.colorButton {
    background-color: #ffa64d !important; 
    color: white !important;
}


body {
    padding-bottom: 30px;
}

.cardsPadding {
    padding-top: 20px
}

@media(max-width: 768px) {
    .advertedText{
        margin-top: 20px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 60px;
    }
}

#frontPageEvent {
    border-radius: 20px;
}