div.image img {
	position: relative;
	width: 100%;
	height: auto;
}

div.buttonGroupEvent {
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

div.sidebarImage {
	position: absolute;
}

div.sidebar {
	margin-top: 200px;
	position: absolute;
}

.buttonGroupEvent button {
	margin-bottom: 5px;
}

.inline {
	word-wrap: nowrap;
}

.noPadding {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.alignRight {
	text-align: right;
}

@media(max-width: 768px) {
	.alignRight {
		text-align: left;
	}
}

.ticketSalesText{
	margin-left: 15px;
}

.centeredText{
	text-align: center;
}