.paddingTop {
	margin-top: 30px;
}

.descriptionArea {
	resize: vertical; 
	max-height: 300px; 
	min-height: 200px;
}

.control-text {
	margin-bottom: 0;
	padding-top: 7px;
}

.alignRight {
	text-align: right;
}