<template>
	<div class="row">
		<div class="panel panel-body col-xs-12">
			<h2 align="center" class="tittle col-sm-offset-1 col-sm-10 col-xs-12">Reserva de Bilhetes </h2><br>
			<div class="col-xs-12 col-sm-12 " v-show="step == 1">
				<div  class=" marginTop25 col-xs-12 col-sm-offset-1 col-sm-10 ">
					

					<h3 >Informação do Evento</h3>
					<h5 class="noPadding col-sm-3 alignRight" ><b>Nome do Evento:</b></h5>
					<h5 class="noPadding col-sm-9"> {{   event.name }}</h5>



					<h5 class="noPadding col-sm-3 alignRight" ><b>Inicio:</b></h5>
					<h5 class="noPadding col-sm-9"> {{ event.initDate }}</h5>
					<h5 class="noPadding col-sm-3 alignRight"><b>Fim:</b></h5>
					<h5 class="noPadding col-sm-9"> {{ event.finishDate }}</h5>

					<h5 v-if="event.spaceName != undefined" class="noPadding col-sm-3 alignRight"><b>Espaço:</b></h5>
					<h5 v-if="event.spaceName != undefined" class="noPadding col-sm-9"> {{ event.spaceName  }}</h5>

					<h5 v-if="event.address != undefined" class="noPadding col-sm-3 alignRight"><b>Morada:</b></h5>
					<h5 v-if="event.address != undefined" class="noPadding col-sm-9"> {{ event.address }}</h5>
					<h5 class="noPadding col-sm-3 alignRight"><b>Categoria:</b></h5>
					<h5 class="noPadding col-sm-9"> {{ event.category ? event.categoryName : "A definir" }}</h5>
					<h5 class="noPadding col-sm-3 alignRight"><b>Etiquetas:</b></h5>
					<h5 class="noPadding col-sm-9">{{ tagsToString() }}</h5>
					
				</div>
			</div>
			<div v-show="step == 1" class="col-sm-offset-1 col-sm-10 col-xs-12">
				<hr>
				
				<h3>Bilhetes do Evento</h3>
				<br>
				
				<div class="table-responsive">
					<table v-show="step == 1" class="table is-striped is-fullwidth">
						<thead>
							<th>Nome</th>
							<th>Preço</th>
							<th>Restrição de Idade</th>
							<th>Quantidade a Adquirir</th>

						</thead>
						<tbody>
							<tr v-for="(item,index) in event.tickets">
								<td class="smallerText">{{ item.name }}</td>
								<td>{{ item.price }}€</td>
								<td>{{ ageRestriction(index) }}</td>
								<td>
									<div v-if="item.remaining > 0" class="row">
										<button @click=" removeQuantity(index)" :disabled="ticketAmmounts[index].quantity == 0" class="col-sm-2 col-md-1 col-md-offset-3 button is-medium is-primary hidden-sm-down"><i class="fa fa-minus" aria-hidden="true"></i>
										</button>
										<div class="col-sm-8 col-md-4 col-xs-8">
											<input @focusout="checkField(index)" v-model="ticketAmmounts[index].quantity" class="form-control" type="text">
										</div>


										<button @click="addQuantity(index)" :disabled="sumOfPurchasesQuantity >= 10 || !checkRemainingTicketsFromType(index) > 0" class="col-md-1 col-sm-2 button is-medium is-primary">
											<i class="fa fa-plus" aria-hidden="true"></i>
										</button>
									</div>
									<div v-else>
										<button disabled class="col-xs-12 col-sm-6 col-sm-offset-3  button is-danger is-medium">ESGOTADO</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


			<div v-show="step == 2">
				<h3 class="col-sm-offset-1">Informações dos bilhetes</h3>
				<br>



				<div class="col-sm-offset-1 col-sm-10 col-xs-12">
					<div>
						<h4>Bilhetes Selecionados</h4>
					</div>
					
					<div class="table-responsive">
						<table class="table is-fullwidth is-striped">
							<thead>
								
								<th>Tipo de bilhete</th>
								<th>Quantidade Selecionada</th>
								<th>Total (€)</th>
								<th>Quantidade Bilhetes Genéricos</th>
								<th>Opções</th>
								
							</thead>
							<tbody>
								<tr v-for="(item, index) in ticketTypesOnPurchase">
									<td>{{item.name}}</td>
									<td>{{item.quantity}}</td>
									<td>{{item.quantity * item.price}}</td>
									<td>{{ammountGeneric(item.ticket_type_id)}}</td>
									<td><button @click="addDetails(item.ticket_type_id)"class="button is-info is-medium">Adicionar Dados Pessoais</button></td>

								</tr>	
							</tbody>
						</table>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-offset-1 col-sm-3 col-xs-7"><b>Total da Reserva: {{purchaseTotal()}}€</b></label>

					</div>


				</div>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-xs-12" v-show="step == 2">
				<hr>
				<h4>Identificação de Bilhetes</h4>

				<div v-if="purchase.identifiedTickets.length > 0" class="table-responsive">
					<table class="table is-fullwidth is-striped">
						<thead>
							<th>#</th>
							<th>Tipo de bilhete</th>
							<th>Nome do Proprietário</th>
							<th>Transmissivel</th>
							<th>Opções</th>

						</thead>
						<tbody>
							<tr v-for="(item, index) in purchase.identifiedTickets">
								<td>{{index + 1}}</td>
								<td>{{item.ticketTypeName}}</td>
								<td>
									<div><input @keydown="errors.clear('ownerName.'+index)" v-model="purchase.identifiedTickets[index].ownerName" class="form-control" type="text"></div>                   
									<span v-if="errors.has('ownerName.' + index)" 
									class="error-span"                        >
									<strong>{{errors.get('ownerName.' + index)}}</strong></span></td>
									<td><form>
										<input v-model="purchase.identifiedTickets[index].transmissable" type="radio" name="gender" :value="true"> Sim
										<input v-model="purchase.identifiedTickets[index].transmissable" type="radio" name="gender" :value="false">Não
									</form></td>
									<td><button @click="cancelTicketIdentification(index)"class="button is-warning is-medium">Cancelar Identificação</button></td>
								</tr>	
							</tbody>
						</table>
					</div>
					<div v-else>
						<h3 class="subtitle">Não definiu informações para nenhum bilhete</h3>
					</div>


				</div>
				<div v-show="step == 3" class="col-sm-offset-1 ">
					<h3 class="col-xs-12">Envio de Bilhetes Para E-mail</h3>
				</div>
				<div  v-show="step == 3" class="col-sm-offset-1 col-sm-10 col-xs-12">

					<div>
						<h4 class="">Bilhetes a Adquirir</h4>
					</div>

					<div class="marginTop25 form-group col-xs-12">
						<label class="control-label required col-sm-3 col-xs-12">Email Por Definição:</label>
						<div class="col-sm-7 col-xs-12 col-sm-offset-0">   
							<input   @keydown="errors.clear('defaultEmail')" type="text" class="form-control" v-model="purchase.defaultEmail">
						</div>

						<span v-if="errors.has('defaultEmail')" 
						class="error-span col-sm-7 col-sm-offset-3 col-xs-12">
						<strong>{{errors.get('defaultEmail')}}</strong></span>
					</div>

					<div class="marginTop25 table-responsive col-xs-12">
						<table class="table is-fullwidth is-striped">
							<thead>

								<th>Tipo de bilhete</th>
								<th>Nome Proprietário</th>
								<th>Transmissivel</th>
								<th>Preço (€)</th>
								<th>Email de Envio</th>
								<th></th>
							</thead>
							<tbody>
								<tr v-for="(item, index) in purchase.tickets">
									<td>{{item.ticketTypeName}}</td>
									<td>{{item.generic ? 'Bilhete Genérico' : item.ownerName}}</td>
									<td>
										<input type="radio" v-model="purchase.tickets[index].transmissable" :value="true" disabled>
									</td>
									<td>{{item.ticketPrice}}</td>										
									<td><div class="row" v-if="item.email != undefined" >

										<input @keydown="errors.clear('email.'+index)" v-model="purchase.tickets[index].email" class="form-control" type="text">
										

										<span v-if="errors.has('email.' + index)" 
										class="error-span col-xs-12"                        >
										<strong>{{errors.get('email.' + index)}}</strong>
										<div class="col-xs-12">
										</div>
									</span>  
								</div>


								<button v-if="item.email == undefined" @click="purchase.tickets[index].email = ''" class="button is-info is-medium">Definir Email de Envio</button></td>
								<td ><div><a v-if="purchase.tickets[index].email != undefined" id="deleteButton" @click.prevent="purchase.tickets[index].email = undefined" class="delete is-large"></a></div></td>

							</tr>	
						</tbody>
					</table>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-3 col-xs-7"><b>Total da Reserva: {{purchaseTotal()}}€</b></label>

				</div>

			</div>

			<div class="col-xs-12 marginTop25">
				<button v-if="step == 1" @click="returnToDetails()" class="button is-medium is-warning col-xs-12 col-sm-offset-4 col-sm-2">Voltar à Páginda de Detalhes</button>
				<button v-if="step > 1"@click="cancelPurchase()" class="button is-warning is-medium col-sm-offset-1 col-sm-2 col-xs-12"> Cancelar Reserva</button>
				<button v-if="step > 1"@click="previousStep()" class="button is-light is-medium col-sm-offset-3 col-sm-2 col-xs-12"> Passo Anterior</button>
				<button v-if="hasRemainingTickets()" @click="nextStep()" :class="stepClass()" class="button  is-success col-xs-12 col-sm-offset-1 col-sm-2">{{step < 3 ? 'Continuar Reserva' : 'Finalizar Reserva'}}</button>

			</div>
		</div>
	</div>
</div> 
</template>
<script type="text/javascript">


	const Event = require('../../classes/event.js');

	const Errors = require('../../classes/errors.js');



	export default{
		props:['encoded', 'userflag'],

		created(){
			console.log('component created');
			this.event.parseForTicketSales(this.encoded);
			this.populatePurchase();
			this.initAlertify();



			var instance = this;
			$(window).bind('beforeunload', function(e){

				if(!instance.success && !instance.canceled)
				{
					return false
				}

			});
		},

		data(){
			return {
				event: new Event(),
				ticketAmmounts: [],
				purchase: {
					genericTickets: [],
					tickets: [],
					identifiedTickets:[],
					totalAmmount: 0,
					defaultEmail: '',
				},
				errors: new Errors(),
				step: 1,
				success: false,
				canceled: false,
				isLoading: false,
			}
		},

		computed: {

				    // a computed getter
				    sumOfPurchasesQuantity: function () {

				    	var sum = 0;
				    	for (var i =  this.ticketAmmounts.length - 1; i >= 0; i--) {
				    		sum += this.ticketAmmounts[i].quantity;
				    	}
				    	return sum;
				    },


				    ticketTypesOnPurchase: function(){

				    	var onPurchase = [];

				    	for (var i = 0; i < this.ticketAmmounts.length; i++) {
				    		if(this.ticketAmmounts[i].quantity > 0)
				    		{
				    			onPurchase.push(this.ticketAmmounts[i]);
				    		}
				    	}

				    	return onPurchase;
				    },

				    emailIsBeingSet: function () {

				    	var flag = false;


				    	for (var i = 0; i < this.purchase.tickets.length; i++) {
				    		if(this.purchase.tickets[i].email != undefined)
				    		{
				    			flag = true;
				    			i = this.purchase.tickets.length;
				    		}
				    	}

				    	return flag;
				    },

				},

				methods:{


					hasRemainingTickets(){
						var sum = 0;

						for (var i = 0; i < this.event.tickets.length; i++) {
							sum += this.event.tickets[i].remaining;
						}
						
						return sum > 0;
					},

					checkRemainingTicketsFromType(index)
					{
						return this.event.tickets[index].remaining - this.ticketAmmounts[index].quantity;
					},


					stepClass(){
						var str = this.step < 3 ? 'is-medium': 'is-large';

						if(this.isLoading)
						{
							str = str + ' is-loading';
						}

						return str;
					},

					previousStep(){

						if(this.step > 1)
						{	

							if(this.step == 3)
							{
								this.step --;
							}
							else{
								var instance = this;
								alertify.confirm("Voltar À Seleção de Quantidades", 
									"Tem a certeza que pretende voltar a selecionar as quantidades? As alterações já feitas serão perdidas", 
									function(){ 
										instance.purchase.genericTickets = [];
										instance.purchase.identifiedTickets = [];
										instance.tickets = [];
										instance.defaultEmail = '';
										instance.step --;
									}, 
									function(){   })
								.set('labels', {ok:'Sim', cancel:'Não'});
							}
							
						}
					},

					returnToDetails(){

						window.location.href = '/event/' + this.event.id;
					},

					cancelPurchase(){

						var instance = this;

						alertify.confirm("Cancelar Reserva de bilhetes de Criação do Evento", 
							"Tem a certeza que pretende cancelar a reserva de bilhetes? Todo o progresso já feito será perdido.", 
							function(){ 
								instance.canceled = true;
								window.location.href = '/event/' + instance.event.id;
							}, 
							function(){   })
						.set('labels', {ok:'Sim', cancel:'Não'});

					},

					cancelTicketIdentification(index)
					{
						this.purchase.identifiedTickets[index].generic = true;
						this.purchase.identifiedTickets[index].ownerName = '';
						this.purchase.identifiedTickets[index].transmissable = false;

						this.purchase.genericTickets.push(this.purchase.identifiedTickets[index]);
						this.purchase.identifiedTickets.splice(index,1);
					},

					addDetails(ticketTypeId){

						var found = undefined;
						for (var i = 0; i < this.purchase.genericTickets.length; i++) {
							if(this.purchase.genericTickets[i].ticketTypeId == ticketTypeId)
							{
								found = i;
								i = this.purchase.genericTickets.length;
							}
						}

						if(found != undefined)
						{
							this.purchase.genericTickets[found].generic = false;
							this.purchase.identifiedTickets.push(this.purchase.genericTickets[found]);
							this.purchase.genericTickets.splice(found, 1);

						}
						else{
							alertify.alert('Reserva de Bilhetes', 'Não poderá prosseguir para o próximo passo sem antes ter definido a reserva de pelo menos um bilhete',
								function(){
								});
						}


					},

					ammountGeneric (id){

						
						var ammount = 0;

						for (var i = 0; i < this.purchase.genericTickets.length; i++) {
							if(this.purchase.genericTickets[i].ticketTypeId == id){
								ammount ++;
							}	
						}

						return ammount;
					},


					purchaseTotal(){

						var total = 0;

						for (var i = 0; i < this.ticketAmmounts.length; i++) {
							total += this.ticketAmmounts[i].price * this.ticketAmmounts[i].quantity;
						}
						return total;
					},

					tagsToString(){
						var tagsAsString = '';
						for (var i = 0; i < this.event.tags.length; i++) {
							tagsAsString += '# '+this.event.tags[i];
						}
						return tagsAsString;
					},

					ageRestriction(index){

						return (this.event.tickets[index].ageRestrictionMin == null && this.event.tickets[index].ageRestrictionMax) == null ? 'Não Tem' : (this.event.tickets[index].ageRestrictionMin + '-' + this.event.tickets[index].ageRestrictionMax);
					},

					populatePurchase(){
						for (var i = 0; i < this.event.tickets.length; i++) {
							this.ticketAmmounts.push({ticket_type_id: this.event.tickets[i].id, name: this.event.tickets[i].name, price: this.event.tickets[i].price, 
								quantity: 0});
						}
					},

					addQuantity(index){
						if(this.sumOfPurchasesQuantity >= 10 || this.checkRemainingTicketsFromType(index) == 0)
						{
							console.log('cant');
						}
						else{

							if(this.checkRemainingTicketsFromType(index) == 1)
							{
								alertify.alert('Reserva de Bilhetes', 'O evento em questão atingiu o limite de bilhetes definidos para venda do tipo: <br><b>' + this.event.tickets[index].name+'</b>' ,
									function(){
									});
							}
							this.ticketAmmounts[index].quantity ++;
						}
					},

					removeQuantity(index){
						console.log(index);
						if(this.ticketAmmounts[index].quantity >= 1)
						{
							this.ticketAmmounts[index].quantity --;
						}

					},

					initialProcessOrder(){
						console.log('aqui');
						for (var i = 0; i < this.ticketTypesOnPurchase.length; i++) {

							for (var j = 0; j < this.ticketTypesOnPurchase[i].quantity; j++) {

								this.purchase.genericTickets.push({ownerName: '', email: undefined, transmissable: false, generic: true, ticketTypeId: this.ticketTypesOnPurchase[i].ticket_type_id, ticketTypeName: this.ticketTypesOnPurchase[i].name, ticketPrice: this.ticketTypesOnPurchase[i].price});

							}
						}

						if(this.sumOfPurchasesQuantity >= 1)
						{
							this.step ++;
						}
						else{

							alertify.alert('Reserva de Bilhetes', 'Não poderá prosseguir para o próximo passo sem antes ter definido a reserva de pelo menos um bilhete',
								function(){
								});

						}

						
					},

					secondProcessOrder(){

						if(this.checkFieldsOnSecondStep())
						{

							this.purchase.tickets = this.purchase.identifiedTickets.concat(this.purchase.genericTickets);
							this.step ++;
						}


					},


					checkFieldsOnSecondStep(){

						var length = this.purchase.identifiedTickets.length;
						var flag = true;
						if(length > 0)
						{
							for (var i = 0; i < length; i++) {

								if(!this.purchase.identifiedTickets[i].ownerName.trim()){
									this.errors.set('ownerName.'+i, 'O preenchimento do nome do proprietário é obrigatório');
									flag = false;
									
								}
							}
						}

						if(!flag){
							this.$forceUpdate();
						}

						return flag;
					},

					checkField(index)
					{
						
						if(isNaN(this.ticketAmmounts[index].quantity) || this.ticketAmmounts[index].quantity < 0 || this.ticketAmmounts[index] == '-' )  
						{
							this.ticketAmmounts[index].quantity = 0;
							return;
						}
						else{
							if(this.ticketAmmounts[index].quantity > 10){
								this.ticketAmmounts[index].quantity = 0;
								return;
							}
						}

					},



					thirdProcessOrder(){
						
						console.log('3-4');

						if(this.checkFieldsOnThirdStep())
						{

							var ticketQuantities = [];

							for (var i = 0; i < this.ticketAmmounts.length; i++) {

								ticketQuantities.push({bought: this.ticketAmmounts[i].quantity, ticketTypeId:this.ticketAmmounts[i].ticket_type_id, name: this.ticketAmmounts[i].name});
							}
							var payload = {
								tickets: this.purchase.tickets,
								totalAmmount: this.purchaseTotal(),
								defaultEmail: this.purchase.defaultEmail,
								ticketQuantities: ticketQuantities, 
							}
							this.isLoading = true;
							var instance = this;
							axios.post('/orders/event/' + this.event.id + '/store', payload)
							.then( response => {
								instance.isLoading = false;
								instance.success = true;
								alertify.alert('Reservação de Bilhetes', 'Foram reservados '+ instance.sumOfPurchasesQuantity + ' bilhetes, prefazendo um total de ' + payload.totalAmmount + '€ <br> Os bilhetes serão enviados para os endereços de email definidos.',
									function(){
										
										if(instance.userflag)
										{
											window.location.href = '/user/personal/orders';
										}
										else{
											window.location.href = '/event/'+instance.event.id;
										}

										
									});
							})
							.catch(errors => {
								console.log(errors);
								var recieved = errors.response.data;

								if(recieved.hasOwnProperty('unsuficientTickets'))
								{
									var message = 'Ups!! <br> Parace que um outro interessado reservou os restantes bilhetes dos tipos';

									for (var i = 0; i < recieved.unsuficientTickets.length; i++) {
										message += '  <b>'+ recieved.unsuficientTickets[i]+' </b>  ';
										if(i + 1 != recieved.unsuficientTickets.length)
										{
											message += ' e ';
										}
									}
									message += 'enquanto efetuava a sua reserva. <br> Será levado de volta para a secção de seleção de quantidades';



									alertify.alert("Voltar À Seleção de Quantidades", 
										message, 
										function(){ 
											instance.success = true;
											window.location.href = '/ticketing/event/'+instance.event.id;
										});

								}

								instance.errors.record(errors.response.data);
								instance.$forceUpdate();
							})
						}

					},

					checkFieldsOnThirdStep(){


						var flag = true;

						if(!this.purchase.defaultEmail.trim())
						{
							this.errors.set('defaultEmail', 'É necessário fornecer um email por definição, para que, no caso de algum problema, possamos ter um e-mail para o qual enviar os bilhetes');
							var flag = false;
						}

						for (var i = 0; i < this.purchase.tickets.length; i++) {

							if(this.purchase.tickets[i].email != undefined)
							{
								if(!this.purchase.tickets[i].email.trim())
								{
									this.errors.set('email.'+i, 'O preenchimento do email de envio é obrigatório');
									flag = false;
								}
							}
							
						}

						if(!flag)
						{
							this.$forceUpdate();
						}
						return flag;


					},


					nextStep(){

						if(this.step == 1 )
						{
							this.initialProcessOrder();

						}else{
							if(this.step == 2)
							{
								this.secondProcessOrder();
							}
							else{
								if(this.step == 3)
								{
									this.thirdProcessOrder();
								}
							}

						}


					},

					initAlertify(){

						alertify.defaults.transition = "slide";
						alertify.defaults.theme.ok = "button is-info	 is-medium";
						alertify.defaults.theme.cancel = "button is-light is-medium";
						alertify.set('notifier', 'position', 'top-right');
						alertify.defaults.maintainFocus = false;
					}

				}

			}
		</script>

		<style type="text/css">

			.noPadding {
				padding: 0 !important;
				padding-left: 5px;
				padding-right: 5px;
			}

			.image{
				width: max-width;
				height: auto;
			}

			#eventImage{
				margin-top: 25px;
			}


			table td {
				text-align: center;
				vertical-align: middle;
			}

			th {
				text-align: center !important;
			}

			table input{
				padding-top: 2px;
				text-align: center;
			}


			.marginTop25{
				margin-top:25px;
			}

			.marginTop25 button {
				margin-top:10px !important;
			}

			.quantityBtns{
				margin-top:2px;
				margin-bottom: 2px;
			}

			.table-responsive{
				overflow-x: auto;
			}

			.error-span {
				color:#ff4d4d;
			}

			td .error-span{
				font-size: 12px;
			}


			.error-span #defaultEmail {
				padding-top:10px;	
				font-size:12px;
			}

			h6{
				color: #fff;
				background-color: #ff8080;
			}


		</style>