<template>
    <div id="create-event" class="panel panel-default">

        <h4 align="center" class="tittle is-4"><b>Criação de um Novo Evento</b></h4>

        <div class="panel-body">

            <form class="form-horizontal" role="form" @keydown="errors.clear($event.target.name)" >

                <div v-show="step == 1" id="base-info-area">

                    <h4 class="col-sm-offset-1">Informações Base</u></h4>

                    <div class="form-group required">

                        <label class="col-sm-3 control-label">Nome do Evento:</label>

                        <div class="col-sm-8">
                            <input name="name" type="text" class="form-control" v-model="event.name" autofocus>
                        </div>

                        <span v-if="errors.has('name')" 
                        class="help-block col-sm-offset-1 col-sm-11 error-span"                        >
                        <strong>{{errors.get('name')}}</strong></span>

                    </div>

                    <div class="form-group required">

                        <label class="col-sm-3 control-label">Data de Inicio:</label>

                        <div class='col-sm-8'>
                            <input id='initDate' name="initDate" type='text' @focusout="onFocusOut('initDate')" class="form-control" />
                        </div>                        
                        <span v-if="errors.has('initDate')" 
                        class="help-block col-sm-offset-1 col-sm-10 error-span">
                        <strong>{{errors.get('initDate')}}</strong></span>


                    </div>

                    <div class="form-group required">

                        <label class="col-sm-offset-1 col-sm-2 control-label">Data de Fim:</label>

                        <div class='col-sm-8'>
                            <input id='finishDate' name="finishDate" type='text' 
                            @focusout="onFocusOut('finishDate')" class="form-control" />
                        </div>  

                        <span v-if="errors.has('finishDate')"
                        class="help-block col-sm-offset-1 col-sm-10 error-span">
                        <strong>{{errors.get('finishDate')}}</strong></span>

                    </div>

                    <div class="form-group required">

                        <label class="col-sm-3 control-label"> Descrição: </label>

                        <span v-if="errors.has('description')"
                        class="help-block col-sm-offset-1 col-sm-7 error-span">
                        <strong>{{errors.get('description')}}</strong></span>

                        <div id="descriptionText" class="col-sm-offset-1 col-sm-10 col-xs-10 col-xs-offset-1">

                            <textarea name="description" rows="5" v-model="event.description" placeholder="A descrição do evento"></textarea>

                        </div>
                    </div>

                    <h4 class="col-sm-offset-1">Localização do Evento</h4>


                    <div class="form-group required">
                        <label id="mapLabel"class="col-sm-4 control-label">Localização no mapa:</label>

                        <div id="instructionsGMaps"class="col-sm-7 col-sm-offset-0 col-xs-offset-1 col-xs-10" >     <p>Navegue até à localização do evento no mapa fornecido
                        </p>
                        <p class="justify" >Defina a localização do evento ao clicar sobre o mapa com o <strong>Botão do Lado Direito</strong> do seu Rato
                        </p>

                    </div>



                    <google-maps @setLocation="setLocation($event)" :center="this.center" :editable="true"></google-maps>

                    <span v-if="errors.has('location')" 
                    class="help-block col-sm-offset-1 col-sm-11 error-span">
                    <strong>{{errors.get('location')}}</strong></span>
                </div>
                <div class="form-group" v-if="event.location != undefined">

                    <label class="col-sm-4 control-label">Coordenadas do Marcador</label>
                    <p class="col-sm-offset-1 col-sm-10">Latitude - {{event.location.lat}}, Longitude - {{event.location.lng}}</p>

                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nome do Espaço:</label>

                    <div class="col-sm-6">
                        <input id="spaceName" type="text" class="form-control" v-model="event.spaceName">
                    </div>

                    <span v-if="errors.has('spaceName')" 
                    class="help-block col-sm-offset-1 col-sm-11 error-span">
                    <strong>{{errors.get('spaceName')}}</strong></span>
                </div>

                <div class="form-group required">

                    <label class="col-sm-3 control-label">Distrito:</label>

                    <div class="col-sm-6">
                        <select class="form-control" 
                        v-model="event.district" 
                        @change="onChangeField('district')">

                        <option v-for="item in districtList"
                        :value="item.id"
                        :selected=" event.district == item.id">
                        {{item.name}}
                    </option>
                </select>
            </div>

            <span v-if="errors.has('district')" 
            class="help-block col-sm-offset-1 col-sm-11 error-span">
            <strong>{{errors.get('district')}}</strong></span>

        </div>

        <div class="form-group">

            <label class="col-sm-3 control-label">Morada: </label>

            <div class="col-sm-8">

                <input id="address" type="text" class="form-control" v-model="event.address">

            </div>

            <span v-if="errors.has('address')"
            class="help-block col-sm-offset-1 col-sm-11 error-span">
            <strong>{{errors.get('address')}}</strong></span>
        </div>
    </div>



    <div v-if="step == 2" id="image-crop-area">
        <h4 class="col-sm-offset-1">Definir A Imagem do Evento</h4>
        <file-upload v-if="!imageIsSet" @cropped="getCroppedImage($event)" :aspectRatio="4/3" imageSource="/images/event/example.jpg"></file-upload>
        <div v-else>
            <div id="cropped-div" class="col-xs-12">
                <img id="cropped-image"
                :src="image"
                alt="Cropped Image"/>
            </div>
            <div class="button-area">
                <button @click.prevent="imageIsSet = false"id="btn-edit" class="button is-info is-medium">
                    Editar Imagem Novamente 
                    <span class="fa fa-pencil"></span>
                </button>
            </div>
        </div>
        <span v-if="errors.has('imagePaths')"
        class="help-block col-sm-offset-1 col-sm-11 error-span">
        <strong>{{errors.get('imagePaths')}}</strong></span>

        <h4 class="col-sm-offset-1"> Categorização do Evento</h4>

        <div class="form-group required">

            <label class="col-sm-3 control-label">Categoria do Evento:</label>

            <div class="col-sm-6">
                <select class="form-control" 
                v-model="event.category" @change="onChangeFieldCategory('category')">
                <option name="category"
                v-for="item in categoryList"
                :selected=" event.category == item.id "
                :value="item.id">{{item.categoryName}}
            </option>
        </select>
    </div>

    <span v-if="errors.has('category')"
    class="help-block col-sm-offset-1 col-sm-11 error-span">
    <strong>{{errors.get('category')}}</strong></span>

</div>

<div v-if="event.hasSuggestedCategory" class="form-group">

    <label class="col-sm-3 control-label">Nova Categoria:</label>

    <div class="col-sm-6">
        <input type="text" name="newCategory" class="form-control" v-model="event.newCategory">
    </div>

    <span v-if="errors.has('newCategory')"
    class="help-block col-sm-offset-1 col-sm-11 error-span">
    <strong>{{errors.get('newCategory')}}</strong></span>

</div>

<div class="form-group required">
    <label class="col-sm-3 control-label">Etiquetas:</label>

    <div class="col-sm-6">
        <input class="form-control" name="tags" @focusout="verifyGivenTags()"type="text" v-model="tags" placeholder="#arLivre #diaD #interior">
    </div>

    <span v-if="errors.has('tags')"
    class="help-block col-sm-offset-1 col-sm-11 error-span">
    <strong>{{errors.get('tags')}}</strong></span>


</div>

<h4 class="col-sm-offset-1"> Hiperligações e Multimedia </h4>

<div class="form-group">

    <div class="col-sm-offset-1 col-sm-10">
        <p class="justify">Através desta area é possivel defenir ligações para outras paginas ou para outros conteudos para que posteriormente sejam disponibilizados aos visitantes da pagina do evento.
            Ao fornercer uma hiperligação, terá também de ser fornecido um nome que irá identificar esta na pagina do evento.
            Poderá fornecer até 3 hiperligações para complementar as informações o evento.
        </p>
    </div>
</div>

<div class="form-group col-sm-12" v-for="(item, index) in event.multimedia">
    <label class="control-label col-sm-2">Nome:</label>
    <div class="col-sm-3">
        <input type="text" :name="'multimedia.'+index+'.name'" class="form-control" v-model="event.multimedia[index].name">
    </div>
    <label class="control-label col-sm-2">Hiperligação:</label>
    <div class="col-sm-4">
        <input type="text" :name="'multimedia.'+index+'.url'" class="form-control" v-model="event.multimedia[index].url">
    </div>
    <a id="deleteButton" v-if="index > 0" @click.prevent="deleteMultimediaResource(index)" class=" col-sm-1 col-xs-4 col-sm-offset-0 col-xs-offset-5 delete is-large"></a>

    <span v-if="errors.hasMultimedia(index)" 
    class="help-block col-sm-offset-1 col-sm-11 col-xs-12 error-span">
    <strong>{{errors.getMultimedia(index)}}</strong>

</span>
</div>
<div class="form-group">

    <button @click.prevent="addMultimediaResource()" 
    :disabled="event.multimedia.length == 3 || errors.has('multimedia.'+ (event.multimedia.length-1))"
    class="button col-sm-offset-7 col-sm-3 col-xs-6 col-xs-offset-3 is-primary is-medium">
    Adicionar Nova
</button> 
</div>

</div>

<div v-show="step == 3"id="ticket-man-area">

    <h4 class="col-sm-offset-1">Bilheteira do Evento</h4>

    <div class="form-group required">

        <label class="col-sm-3 control-label">Limite de bilhetes:</label>

        <button @click.prevent="onClickHasTickets(true)" 
        class="button is-info is-medium col-sm-offset-1 col-sm-2"
        :class="{ 'is-outlined' : event.hasTickets != true }">
        Sim</button>

        <button @click.prevent="onClickHasTickets(false)"
        class="button is-info is-medium col-sm-offset-1 col-sm-2"
        :class="{ 'is-outlined' : event.hasTickets != false }">
        Não</button>

        <span v-if="errors.has('hasTickets')"
        class="help-block col-sm-offset-1 col-sm-11 error-span">
        <strong>{{errors.get('hasTickets')}}</strong></span>

    </div>

    <div v-if="event.hasTickets">

        <div class="form-group required">

            <label class="col-sm-3 control-label">Gestão da bilheteira:</label>

            <div>

                <button @click.prevent="setTicketManagement('external')" 
                class="button is-info is-medium col-sm-offset-1 col-sm-2 col-xs-8 col-xs-offset-2"
                :class="{ 'is-outlined' : event.ticketManagement != 'external' }">
                Serviço Externo</button>

                <button @click.prevent="setTicketManagement('eventTracker')"
                class="button is-info is-medium col-sm-offset-1 col-sm-3 col-xs-8 col-xs-offset-2"
                :class="{ 'is-outlined' : event.ticketManagement != 'eventTracker' }">
                Plataforma EventTracker</button>

            </div>

            <span v-if="errors.has('ticketManagement')"
            class="help-block col-sm-offset-1 col-sm-11 error-span">
            <strong>{{errors.get('ticketManagement')}}</strong></span>
        </div>               

        <div id="external-ticket-area" v-if="event.ticketManagement == 'external'">

            <h4 class="col-sm-offset-1"> Gestão de Bilhetes Externa</h4>

            <div class="form-group required">

                <label class="col-sm-3 control-label">Bilhetes Disponiveis para Venda:</label>

                <div class="col-sm-4">

                    <input class="form-control" min="1" max="250000" placeholder="Exemplo: 500" type="number" v-model="event.ticketsForSale">

                </div>

                <span v-if="errors.has('ticketsForSale')" 
                class="help-block col-sm-offset-1 col-sm-11 error-span">
                <strong>{{errors.get('ticketsForSale')}}</strong></span>

            </div>



            <div class="form-group">

                <label class="col-sm-5 control-label">Hiperligação de Venda de Bilhetes:</label>
                <p class="justify col-sm-offset-1 col-sm-10"> Ao utilizar um sistema de venda e gestão de bilhetes externo poderá defenir <strong>até 3 hiperligações</strong> ou então deixar um breve resumo de como poderão ser obtidos os bilhetes</p>

            </div>

            <div class="form-group" v-for="(item, index) in event.ticketSales">

                <label class="col-sm-3 control-label">Hiperligação {{index +1}}:</label>

                <div class="col-sm-7">

                    <input :name="'ticketSales.'+index" type="text" class="form-control" 
                    v-model="event.ticketSales[index]">

                </div>

                <a v-if="index != 0" @click.prevent="deleteTicketSales(index)" 
                class=" col-sm-1 col-sm-offset-0 col-xs-offset-5 col-xs-4 delete is-large"></a>

                <span v-if="errors.has('ticketSales.'+index)"
                class="help-block col-sm-offset-1 col-sm-11 error-span">
                <strong>{{errors.get('ticketSales.'+index)}}</strong></span>

            </div>

            <div class="form-group">
                <button @click.prevent="addTicketSale()" 
                class="button is-primary is-medium col-sm-offset-7 col-sm-3 col-xs-6 col-xs-offset-3"
                :disabled="event.ticketSales.length == 3">Adicionar Nova</button>
            </div>  

            <div class="form-group">

                <label class="col-sm-6 col-sm-offset-1 control-label">Informação Adicional Acerca da Compra de Bilhetes:</label>

                <div class="col-sm-offset-1 col-sm-10 col-xs-10 col-xs-offset-1">

                    <textarea name="ticketSaleDescription" rows="5" 
                    v-model="event.ticketSaleDescription" placeholder="Descrição dos bilhetes, onde poderão ser comprados, entre outros (...)">
                </textarea>

            </div>
        </div>

    </div>

    <div v-if="event.ticketManagement == 'eventTracker'" class="col-sm-12">

        <h4 class="col-sm-offset-1">Bilhetes a Disponibilizar</h4>


        <div v-if="event.standardTicket != undefined">
            <h5><u> Billhete Sem Custos</u></h5>
            <div class="form-group ticketType">
                <label class="col-sm-3 col-xs-12 control-label"> Nome: </label>
                <div class="col-sm-7 col-xs-12">
                    <input name="standardTicket.name" v-model="event.standardTicket.name" type="text" class="form-control"> 
                </div>
                <span v-if="errors.has('standardTicket.quantity')" 
                class="help-block col-sm-offset-2 col-sm-4 col-xs-12 error-span">
                <strong>{{errors.get('standardTicket.quantity')}}</strong></span>

            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-11 control-label">Quantidade:</label>

                <div class="col-sm-3 col-xs-11">
                    <input  name="standardTicket.quantity" v-model="event.standardTicket.quantity" type="number" min="1" max="250000" class="form-control">
                </div>
                <label class="col-sm-1 col-xs-11 control-label">Preço:</label>

                <div class="col-sm-3 col-xs-11">
                    <input name="standardTicket.price" disabled v-model="event.standardTicket.price" type="number" min="0" max="10000" class="form-control">
                </div>
                <a id="deleteButton" class="col-sm-1 col-xs-1 delete is-large"
                @click.prevent="event.standardTicket = undefined"></a>

                <div v-if="errors.has('standardTicket.quantity') || errors.has('standardTicket.price')">
                    <span v-if="errors.has('standardTicket.quantity')" 
                    class="help-block col-sm-offset-2 col-sm-4 col-xs-12 error-span">
                    <strong>{{errors.get('standardTicket.quantity')}}</strong></span>

                    <span v-if="errors.has('standardTicket.price')" 
                    class="help-block col-sm-4 col-xs-12 error-span" :class="errors.has('standardTicket.quantity') ? 'col-sm-offset-0' : 'col-sm-offset-6'">
                    <strong>{{errors.get('standardTicket.price')}}</strong></span>
                </div>

            </div>

            <div class="form-group">                
                <label class="col-sm-3 col-xs-11 control-label">Restrição de Idade:
                    (Opcional)
                </label>
                <div class="col-sm-3 col-xs-11">
                    <input name="standardTicket.ageRestrictionMin" v-model="event.standardTicket.ageRestrictionMin" type="number" min="0" max="105" class="form-control">
                </div>
                <label class="col-sm-1 col-xs-11 control-label">aos</label>
                <div class="col-sm-3 col-xs-11">
                    <input name="standardTicket.ageRestrictionMax" v-model="event.standardTicket.ageRestrictionMax" type="number" min="1" max="105" class="form-control">
                </div>

                <span v-if="errors.has('standardTicket.ageRestrictionMin') || errors.has('standardTicket.ageRestrictionMax')" 
                class="help-block col-sm-offset-2 col-sm-10 col-xs-12 error-span">
                <strong>{{errors.get('standardTicket.ageRestrictionMin') || errors.get('standardTicket.ageRestrictionMax')}}</strong></span>

            </div>

            <span v-if="errors.has('standardTicket')" 
            class="help-block col-sm-offset-1 col-sm-11 col-xs-12 error-span">
            <strong>{{errors.get('standardTicket')}}</strong></span>
        </div>

        <div v-for="(ticket, index) in event.tickets" class="ticketType">
            <h5 class="col-sm-offset-1"><u>Bilhete # {{index + 1 }}</u></h5>
            <div class="form-group">
                <label class="col-sm-3 col-xs-10 control-label"> Nome: </label>
                <div class="col-sm-7 col-xs-10">
                    <input :name="'tickets.'+index+'.name'" v-model="event.tickets[index].name" type="text" class="form-control"> 
                </div>
            </div>
            <span v-if="errors.has('tickets.'+index+'.name')" 
            class="help-block col-sm-offset-2 col-sm-10 col-xs-12 error-span">
            <strong>{{errors.get('tickets.'+index+'.name')}}</strong></span>
            
            <div class="form-group">
                <label class="col-sm-3 col-xs-10 control-label">Quantidade:</label>

                <div class="col-sm-3 col-xs-10">
                    <input :name="'tickets.'+index+'.quantity'" v-model="event.tickets[index].quantity" type="number" max="250000" min="1" class="form-control">
                </div>
                <label class="col-sm-1 col-xs-10 control-label">Preço:</label>
                
                <div class="col-sm-3 col-xs-10">
                    <input :name="'tickets.'+index+'.price'" v-model="event.tickets[index].price" type="number" min="0"  max="10000"  class="form-control">
                </div>
                <a id="deleteButton" v-if="index > 0" class="col-sm-1 col-xs-1 delete is-large"
                    @click.prevent="deleteTicket(index)">    
                </a>
                <div v-if="errors.has('tickets.'+index+'.quantity') || errors.has('tickets.'+index+'.price')">
                    <span v-if="errors.has('tickets.'+index+'.quantity')" 
                    class="help-block col-sm-offset-2 col-sm-4 col-xs-12 error-span">
                    <strong>{{errors.get('tickets.'+index+'.quantity')}}</strong></span>

                    <span v-if="errors.has('tickets.'+index+'.price')" 
                    class="help-block col-sm-4 col-xs-12 error-span" :class="errors.has('tickets.'+index+'.quantity') ? 'col-sm-offset-0' : 'col-sm-offset-6'">
                    <strong>{{errors.get('tickets.'+index+'.price')}}</strong></span>
                </div>

            </div>

            <div class="form-group">                
                <label class="col-sm-3 col-xs-10 control-label">Restrição de Idade:
                    (Opcional)
                </label>
                <div class="col-sm-3 col-xs-10">
                    <input :name="'tickets.'+index+'.ageRestrictionMin'" v-model="event.tickets[index].ageRestrictionMin" type="number" min="0" max="105" class="form-control">
                </div>
                <label class="col-sm-1 col-xs-10 control-label">aos</label>
                <div class="col-sm-3 col-xs-10">
                    <input :name="'tickets.'+index+'.ageRestrictionMax'" v-model="event.tickets[index].ageRestrictionMax" type="number" min="1" max="105" class="form-control">
                </div>
            </div>

            <span v-if="errors.has('tickets.'+index+'.ageRestrictionMin') || errors.has('tickets.'+index+'.ageRestrictionMax')" 
            class="help-block col-sm-offset-2 col-sm-10 col-xs-12 error-span">
            <strong>{{errors.get('tickets.'+index+'.ageRestrictionMin') || errors.get('tickets.'+index+'.ageRestrictionMax')}}</strong></span>


        </div>
        <div id="btnHolderTickets">

            <button @click.prevent="addStandardTicket()" class="button is-primary is-medium col-sm-4 col-sm-offset-2 col-xs-8 col-xs-offset-2"> Adicionar Bilhete S/Custos</button>
            <button  @click.prevent="addTicket()" id="btnAddTicketType" class="button is-info is-medium col-sm-offset-1 col-sm-3 col-xs-offset-2 col-xs-8"> Adicionar Bilhete</button>
        </div>
        <div>
        </div>

    </div>
</div>

</div>

<div v-show="step == 4" id="evaluation-area">

    <h4 class="col-sm-offset-1">Avaliação de um Evento</h4>

    <div class="form-group required" >

        <label class="control-label col-sm-3">Quem poderá Avaliar o Evento:</label>

        <div>
            <button @click.prevent="selectEvalType('conditional')" 
            class="button is-info is-medium col-sm-3 col-xs-10 col-xs-offset-1"
            :class="{ 'is-outlined' : event.evalType != 'conditional' }">
            Compradores de Bilhete</button>
        </div>
        <div>
            <button id="evalTypeFree" @click.prevent="selectEvalType('free')"
            class="button is-info is-medium col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1"
            :class="{ 'is-outlined' : event.evalType != 'free' }">
            Sem Restrições</button>
        </div>

        <div>
            <span v-if="errors.has('evalType')"
            class="help-block col-sm-offset-1 col-sm-11 col-xs-12 error-span">
            <strong>{{errors.get('evalType')}}</strong></span>
        </div>

    </div>
    <div class="form-group required">
        <label class="control-label col-sm-3">Duração do Periodo de Avaliação:</label>

        <div class="col-sm-3 col-sm-offset-1">
            <select class="form-control" v-model="event.evalTime" @change="onChangeField('evalTime')">
                <option value='7' :selected="event.evalTime == 7">1 Semana</option>
                <option value='14' :selected="event.evalTime == 14">2 Semanas</option>
                <option value='21' :selected="event.evalTime == 21">3 Semanas</option>
                <option value='1m' :selected="event.evalTime == '1m'">1 Mês</option>
            </select>
        </div>
        <div>
            <span v-if="errors.has('evalTime')"
            class="help-block col-sm-offset-1 col-sm-11 error-span">
            <strong>{{errors.get('evalTime')}}</strong></span>
        </div>
    </div>

</div>


<div >
    <hr>
    <button v-if="step == 4" @click.prevent="submitForm()"
    class="button is-success is-medium col-sm-offset-1 col-sm-2 col-xs-3 ">
    Criar Evento</button>
    <button id="btnCancel"@click.prevent="cancel()"
    class="button is-danger is-medium col-sm-2 col-xs-3"
    :class="step == 4 ? 'btnCancelPadding' : 'col-xs-offset-1'">
    Cancelar</button>
    <button v-if="step != 1" id="previousStep" class="button is-medium is-light col-sm-offset-4 col-sm-2 col-xs-offset-1 col-xs-3" :class="step != 4 ? 'col-xs-offset-1' : 'col-xs-offset-2'" @click.prevent="previousStep()">Anterior</button>
    <button v-if="step !=4" :class="step != 1 ? '' : 'col-sm-offset-6 col-xs-offset-4'" class="button is-medium is-info col-sm-2 col-xs-3" @click.prevent="nextStep()">Seguinte</button>

</div>
</form>
</div>
</div>

</template>

<script>

    /** Helper class for Errors **/

    const Errors = require('../../classes/errors.js');

    const Event = require('../../classes/event.js');

    export default {

        props: ['categories', 'districts'],

        mounted() {

            this.loadBootstrapDatepicker();

            this.loadTextAreaAutoSize();

            this.initAlertify();

            var instance = this;
            $(window).bind('beforeunload', function(e){

                if(!instance.sucess && !instance.canceled)
                {
                    return false
                }

            });


        },

        created() {

            this.categoryList = JSON.parse(this.categories);
            this.districtList = JSON.parse(this.districts);            
        },

        data () {
            return {

                event: new Event(),

                categoryList: undefined,

                center: {lat: 39.7495, lng: -8.8077},

                districtList: [],

                errors: new Errors(),

                imageIsSet: false,

                image: '',

                sucess: false,

                tags: undefined,

                canceled: false,

                step: 1,
            }

        }, 


        methods : {

            deleteTicket(index){
                if(index > 0)
                {
                    this.event.tickets.splice(index, 1);
                }
                
            } ,

            addStandardTicket(){
                if(this.event.standardTicket != undefined)
                {
                    alertify.alert('Formulário de Criação do Evento', 'Apenas poderá ser adicionar um bilhete sem custos',
                        function(){
                        });
                }
                else{
                    this.event.standardTicket = {name:'', 
                    quantity: '', 
                    ageRestrictionMin: '',
                    ageRestrictionMax: '',
                    price: 0
                };    
            }

        },

        canAddTicket(){

            var length = this.event.tickets.length;

            if(length == 5)
            {
                alertify.alert('Formulário de Criação do Evento', 'Não poderá adicionar mais de 5 tipos de bilhetes a disponibilizar.',
                    function(){

                    });
                return false;
            }
            else{

                var ticket = this.event.tickets[length - 1];

                for(var key in ticket)
                {
                    if(ticket[key] == '' && key.indexOf('age') == -1)
                    {
                        alertify.alert('Formulário de Criação do Evento', 'Não poderá adicionar um novo bilhete sem primeiro ter preenchido os campos do anterior.',
                            function(){
                            });
                        return false;
                    }
                }
                return true;

            }
        },

        addTicket(){

            if(this.canAddTicket())
            {
                this.event.tickets.push({name:"", 
                    quantity: '', 
                    ageRestrictionMin: '',

                    ageRestrictionMax: '',
                    price: '',
                });
            }

        },

        previousStep(){

            if(this.step - 1 > 0)
            {
                this.step --;
                window.scrollTo(0, 0);
            }

        },
        nextStep(){
            if(this.step + 1 < 8)
            {
                this.step ++;
                window.scrollTo(0, 0);
            }
        },

        loadBootstrapDatepicker() {

            require('eonasdan-bootstrap-datetimepicker');
            var moment = require('moment');

            let options = {

                format: 'DD/MM/YYYY HH:mm',
                minDate: Date.now(),
                locale: moment.locale('pt'),
                useCurrent:false,
                sideBySide:true,
                widgetPositioning:  {
                    horizontal: 'auto',
                    vertical: 'bottom'
                },

            } 

            var instance = this;

            $(document).ready( function () {

                $('#initDate').datetimepicker(options);

                $('#finishDate').datetimepicker(options);

                $('#initDate').on('dp.change', function(e){
                    instance.event.initDate = e.date;
                    instance.errors.clear('initDate');
                    $('#finishDate').data("DateTimePicker").minDate(e.date);
                    instance.$forceUpdate();
                })

                $('#finishDate').on('dp.change', function(e){
                    instance.event.finishDate = e.date;
                    instance.errors.clear('finishDate');
                    $('#initDate').data("DateTimePicker").maxDate(e.date);
                    instance.$forceUpdate();
                })

            })

        },


        loadTextAreaAutoSize(){
            var autosize = require("autosize");
            autosize($('textarea'));
        },

        addTicketSale () {
            var length = this.event.ticketSales.length;
            if(length < 3)
            {   
                var result = this.event.addTicketSale('');
                if(!(result === true))
                {
                    this.errors.set('ticketSales.'+(length-1), result);
                    this.$forceUpdate();
                }

            }
        },

        deleteTicketSales(index){

            if(this.event.removeTicketSale(index))
            {
                this.errors.clear('ticketSales.'+index);
            }
        },

        setLocation(location){
         this.event.location = location;
         this.errors.clear('location');
     },

     addMultimediaResource() {

        let index = this.event.multimedia.length - 1;
        var condition = false;

        if(index < 3){

            if(!this.event.multimedia[index].name.trim())
            {
                this.errors.set('multimedia.'+index+'.name', 
                    'Por favor preencha os campos disponbilizados anteriormente');
                condition = true;

            }
            if(!this.event.multimedia[index].url.trim())
            {
                this.errors.set('multimedia.'+index+'.url',
                    'Por favor preencha os campos disponbilizados anteriormente');
                condition = true;
            }
            if(!condition){
                this.event.multimedia.push({name: '', url: ''});
                return;
            }
            else{
                this.$forceUpdate();
            }
        }

    },

    deleteMultimediaResource(index) {

        if(index != 0)
        {
            this.event.multimedia.splice(index, 1);
            this.errors.clearMultimedia(index);
        }

    },

    onClickHasTickets(value){
        this.event.hasTickets = value;
        this.errors.clear('hasTickets');            
    },

    selectEvalType(value){
        this.event.evalType = value;
        this.errors.clear('evalType');
    },

    setTicketManagement(value){

        this.event.ticketManagement = value;
        this.errors.clear('ticketManagement');

        if(value == 'eventTracker' && this.event.tickets.length == 0)
        {
            this.event.tickets.push({name:"", 
                quantity: '', 
                ageRestrictionMin: '',
                ageRestrictionMax: '',
            });
        }
    },

    onChangeField(field){
        this.errors.clear(field);
    },

    onChangeFieldCategory(){

        this.onChangeField('category');
        this.event.hasSuggestedCategory = this.event.category == this.categoryList.length;
        this.event.newCategory = '';

    },

    onFocusOut(field){
        if(this[field])
        {
            this.errors.clear(field);
            this.$forceUpdate();
        }
    },

    verifyGivenTags(){

        var condition = false;
        if(this.tags != undefined && this.tags.trim())
        {

            let tags = this.tags.split(" ");

            if(tags.length <= 3)
            {
                for(let i = 0; i < tags.length; i++)
                {

                    if(tags[i].length > 30)
                    {
                        this.errors.set('tags', 
                            'Cada etiqueta não deverá ter mais de 30 carateres. Por favor reveja a '+(i+1)+' etiqueta');
                    }

                    if(tags.indexOf(tags[i]) != tags.lastIndexOf(tags[i]))
                    {
                        this.errors.set('tags',
                            'Cada etiqueta apenas poderá ser definida uma vez. Por favor reveja a '+(i+1)+' etiqueta.');
                    }
                }

                if(!condition)
                {
                    this.event.tags = tags;                        
                }
            }
            else{
                this.errors.set('tags',
                    'Apenas poderá definir 3 etiquetas - Definiu: ' + tags.length);
            }

            this.$forceUpdate();
        }

    },

    getCroppedImage(event){
        this.image = event;
        this.imageIsSet = true;
    },

    submitForm () {

        this.prepareMultimediaResources();
        this.prepareTicketSalesResources();

        this.event.image = this.imageIsSet ? this.image : null;

        var instance = this;
        console.log(this.event);
        axios.post('/event/store', this.event)
        .then(response => {
            instance.sucess = true;

            alertify.alert('Formulário de Criação do Evento', 'Evento criado com sucesso!',
                function(){
                    window.location.href = '/promotorView/advertised';
                });
        })
        .catch(errors => {

            window.scrollTo(0, 0);
            this.step = 1;

            alertify.alert('Formulário de Criação do Evento','O Formulário Contem Erros. Por Favor Reveja-o e Tente Novamente', 
                function() {
                    instance.errors.record(errors.response.data);
                });
        });           

    },


    prepareMultimediaResources(){  

        if(this.event.multimedia.length > 1)
        {   
            let length = this.event.multimedia.length;
            if(!this.event.multimedia[length-1].name.trim() && !this.event.multimedia[length-1].url.trim())
            {
                this.event.multimedia.splice(length-1, 1);
            }
        }

    },

    prepareTicketSalesResources(){

        if(this.event.ticketManagement == 'eventTrakcer')
        {
            this.event.ticketSaleDescription = undefined;
            this.event.ticketSales = undefined;
        }
    },

    prepareTicketManagementSection(){

        if(this.event.ticketManagement == 'external')
        {
            if(this.event.hasTickets)
            {
                this.prepareTicketSalesResources();
            }
            else{
                this.event.ticketSaleDescription = undefined;
                this.event.ticketSales = undefined;
            }

        }

        if(!this.event.hasTickets)
        {
            this.event.ticketsForSale = undefined;
            this.event.ticketManagement = undefined;
        } 
    },

    initAlertify(){

        alertify.defaults.transition = "slide";
        alertify.defaults.theme.ok = "button is-primary is-medium";
        alertify.defaults.theme.cancel = "button is-danger is-medium";
        alertify.set('notifier', 'position', 'top-right');
        alertify.defaults.maintainFocus = false;
    },

    cancel () {

        var instance = this;
        alertify.confirm("Sair do Formulário de Criação do Evento", 
            "Tem a certeza que pretende cancelar a criação do evento?    Note que todas as alterações já efetuadas serão perdidas", 
            function(){ 
                instance.canceled = true;
                instance.$forceUpdate();
                window.location.href ='/promotorView/advertised';}, 
                function(){   })
        .set('labels', {ok:'Sim', cancel:'Não'});
    }
}
}
</script>

<style type="text/css">

    textarea {
        margin-top: 10px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 500px;
    }

    gmap-map {
        width: 70%;
    }

    #create-event select {
        margin-top: 10px;
    }

    h4 {
        padding-top: 10px;
        padding-bottom:5px;
    }


    #location-area p {
        margin-top: 10px;
    }
    .error-span {
        color:#ff4d4d;
    }

    .form-group.required .control-label:after { 
        content:"*";
        color:red;
        font-size: 125%;

    }

    .button {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #cropped-div {
        max-height: 960px;
        display: block;
        margin:auto;
    }

    #cropped-image{
        display:block;
        margin: 15px auto;
    }

    #btn-edit {
        margin: 0 auto;
        display: block;
    }


    #deleteButton {
        margin-top:2px;
    }

    #descriptionText {
        margin-top:2px;
    }
    #previousStep{
        margin-right: 5px;
    }

    .btnCancelPadding{
        margin-left:5%;
    }

    #stepWizzard div {
        background-color: #42a7f4;
        text-align: center;
        height:50px;
    }

    #btnAddTicketType{
        padding-top:2px;
    }

    #btnHolderTickets {
        margin-top: 15px;
        margin-bottom: 70px;
    }

    .ticketType{
        margin-bottom: 10px;
    }

    .justify{
        text-align: justify;
        text-justify: inter-word;
    }
</style>