
<template>
	<div>
		<a class="list-group-item list-group-item-action align-items-start clickable" @click.prevent="showEvent()">
			<div class="listItem">
				<div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<img :src="'/images/event/list/'+event.image_id" class="img">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<h3 class="mb-1">{{ event.name }}</h3>
						<p>
							<b> De </b> {{event.initDate.substring(0,16)}} <b> até </b> {{event.finishDate.substring(0,16)}}

						</p>
						<p v-if="event.spaceName">
							<b>Nome do Espaço:</b> {{ event.spaceName }}
						</p>
						<p>
							<b>Categoria:</b> {{event.categoryName}}
						</p>
						<p>
							<b>Etiquetas:</b> <span v-for="tag in event.tags">#{{ tag }} </span>
						</p>
					</div>
				</div>
			</div>
		</a>
		<div id="button-wrapper" class="list-group-item list-group-item-action align-items-start ">
			<div v-if="canCancelOrEdit()">
				<button class="button is-primary is-medium" @click.prevents="sendMessageToFollowers()">Enviar Mensagem</button>
				<button class="button is-warning is-medium" @click.prevents="redirectToEdit()">Alterar</button>
				<button class="button is-danger is-medium" @click.prevents="redirectToCancel()">Cancelar</button>
			</div>
			<div v-else >
				<div v-if="this.getEventInfo()">
					{{this.getEventInfo()}}
				</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">

	export default{

		props: ['event'],

		mounted(){
			console.log('promotor-event mounted.');
		},

		methods: {

			initDateToString(){
				return 
			},

			redirectToEdit(){
				window.location.href = '/event/edit/'+ this.event.id;
			},

			redirectToCancel(){
				window.location.href = '/event/cancel/'+this.event.id;
			},
			
			showEvent()
			{
				window.location.href = '/event/'+this.event.id;
			},

			canCancelOrEdit(){
				if(this.event.status > 1)
				{
					return false;
				}
				else{
					return Date.now() < Date.parse(this.event.initDate);
				}
				
			},

			sendMessageToFollowers()
			{
				window.location.href = '/event/'+this.event.id+'/sendmessage';
			},

			getEventInfo(){
				var info = '';

				if(this.event.hidden)
				{
					info = info + '[ Evento Ocultado ]';
				}

				// canceled
				if(this.event.status == 2 || this.event.status == 3)
				{
					info = info + '  [ Evento Cancelado ]';

					return info;
				}

				if(this.event.status == 1)
				{
					if(Date.now() > Date.parse(this.event.initDate))
					{
						info = info + ' [ Evento a Decorrer ]'; 
					}

					return info;
				}

				if(this.event.status >= 4 )
				{
					if(Date.now() < Date.parse(this.event.finishEvalDay))
					{
						info = info + '  [ Evento em Avaliação ]';
					}
					else{

						info = info + '   [ Evento Terminado ]';
					}

					return info;
				}

				return info;
			},

			formatDate(date) {
				var data = new Date(date);

				var weekday = new Array(7);
				weekday[0] = "Domingo";
				weekday[1] = "Segunda-Feira";
				weekday[2] = "Terça-Feira";
				weekday[3] = "Quarta-Feira";
				weekday[4] = "Quinta-Feira";
				weekday[5] = "Sexta-Feira";
				weekday[6] = "Sábado";

				var month=new Array();
				month[0]="Janeiro";
				month[1]="Fevereiro";
				month[2]="Março";
				month[3]="Abril";
				month[4]="Maio";
				month[5]="Junho";
				month[6]="Julho";
				month[7]="Agosto";
				month[8]="Setembro";
				month[9]="Outubro";
				month[10]="Novembro";
				month[11]="Dezembro";

				var dateString = weekday[data.getDay()]+", "+(data.getDate() < 10 ? "0"+data.getDate() : data.getDate())+" de "+month[data.getMonth()]+" de "+(data.getYear()+1900);

				return dateString;
			},
		}

	}


</script>

<style>
	.listItem {
		width: 100%;
		height: auto;
	}

	.img {
		max-width: 100%;
		height: auto;
	}

	.button-wrapper {
		border-top: 0 none;
		text-align: right;
	}

	.button-wrapper button {
		margin-top:5px;
		margin-right: 15px;
	}

	.clickable {
		cursor: pointer;
	}


</style>