
// Body
$body-bg: #f1f8f7;


// Borders
$laravel-border-color: #d9d9d9;
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #666666;

// Navbar
$navbar-default-bg: #feffff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: #d9d9d9;
$input-border-focus: #d9d9d9;
$input-color-placeholder: #777777;

// Panels
$panel-default-heading-bg: #fff;
