<template>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-body">
				<h3 class="alignCenter">Alterar Palavra Passe</h3><br>
				<form class="form-horizontal" role="form" @keydown="errors.clear($event.target.name)">

					<div class="form-group required">
						<label for="oldPassword" class="col-md-4 control-label">Antiga Password</label>

						<div class="col-md-6">
							<input min="8" v-model="package.oldPassword" id="oldPassword" type="password" class="form-control" name="oldPassword" requiredw>
						</div>
						<span v-if="errors.has('oldPassword')"
						class="help-block col-md-offset-4 col-xs-offset-0 col-md-6 col-xs-12 error-span">
						<strong>{{errors.get('oldPassword')}}</strong></span>
					</div>
					
					<div class="form-group required">
						<label for="password" class="col-md-4 control-label">Nova Password</label>

						<div class="col-md-6">
							<input min="8" v-model="package.password" id="password" type="password" class="form-control" name="password" required>
						</div>
						<span v-if="errors.has('password')" 
						class="help-block col-md-offset-4 col-xs-offset-0 col-md-6 col-xs-12 error-span">
						<strong>{{errors.get('password')}}</strong></span>
					</div>
					<div class="form-group required">
						<label for="password-confirm" class="col-md-4 control-label">Confirmação Nova Password</label>

						<div class="col-md-6">
							<input min="8" v-model="package.confirm" id="password-confirm" type="password" 
							class="form-control" name="confirm" >
						</div>
						<span v-if="errors.has('confirm')" 
						class="help-block col-md-offset-4 col-xs-offset-0 col-md-6 col-xs-12 error-span">
						<strong>{{errors.get('confirm')}}</strong></span>
					</div>

					<div class="form-group">
						<div class="col-md-6 col-md-offset-4 buttonGroupEvent">
							<button @click.prevent="submitForm()" type="submit" class="button is-info is-large col-md-4">Alterar</button> 
							<a class="button is-danger is-large col-md-offset-1 col-md-4">Cancelar</a> 
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">

	
	const Errors = require('../../classes/errors.js');
	
	export default {


		mounted(){

			this.initAlertify();

		},

		data (){
			return {
				errors: new Errors(),
				package : {
					oldPassword: '',
					password: '',
					confirm: '',
				}
			}
		},

		methods : {	

			initAlertify(){

				alertify.defaults.transition = "slide";
				alertify.defaults.theme.ok = "button is-primary is-large";
				alertify.defaults.theme.cancel = "button is-danger is-large";
				alertify.set('notifier', 'position', 'top-right');
				alertify.defaults.maintainFocus = false;
			},

			submitForm(){

				if(!this.package.oldPassword.trim() || !this.package.password.trim() ||
					!this.package.confirm.trim()){

					alertify.alert('Alteração da Palavra Passe','Existem campos por preencher. Por favor verifique que introduziu todos os campos obrigatórios.', 
						function() {

						});
			}
			else{
				axios.post('/user/personal/changePassword', this.package)
				.then(response => {
					alertify.alert('Alteração da Palavra Passe', 'A alteração da Palavra Passe foi realizada com sucesso', function() {
						window.location.href = '/user/personal/profile';
					})
				})
				.catch( errors => {
					
					var recieved = errors.response.data;

					if(recieved.hasOwnProperty('errors'))
					{
						alertify.alert('Alteração da Palavra Passe', recieved.errors, function(){});
					}					
					else{
						this.errors.record(recieved);
					}

					for(var key in this.package)
					{
						this.package[key] = '';
					}

				})
			}

		},

	}

}
</script>

<style type="text/css">
	.buttonGroupEvent {
		margin-top: 20px;
		margin-bottom: 20px;
		display: inline-block;
	}

	.alignCenter {
		text-align: center;
	}

	.error-span {
		color:#ff4d4d;
	}

	.form-group.required .control-label:after { 
		content:"*";
		color:red;
		font-size: 125%;
	}

</style>