<template>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="col-md-12">
					<label class="col-md-6" align="right">Total Eventos:</label> 
					<div class="col-md-6">
						{{otherStatistics.events}}
					</div>
				</div>
				<br>
				<div class="col-md-12">
					<label class="col-md-6" align="right">Eventos Publicitados:</label> 
					<div class="col-md-6">
						{{otherStatistics.advertised}}
					</div>
				</div>
				<br>
				<div class="col-md-12">
					<label class="col-md-6" align="right">Eventos a Decorrer:</label> 
					<div class="col-md-6">
						{{otherStatistics.ongoing}}
					</div>
				</div>
				<br>
				<div class="col-md-12">
					<label class="col-md-6" align="right">Eventos em Cancelamento:</label> 
					<div class="col-md-6">
						{{otherStatistics.cancellations}}
					</div>
				</div>
				<br>
				<div class="col-md-12">
					<label class="col-md-6" align="right">Eventos Cancelados:</label> 
					<div class="col-md-6">
						{{otherStatistics.canceled}}
					</div>
				</div>
				<br>
				<div class="col-md-12">
					<label class="col-md-6" align="right">Eventos Terminados:</label> 
					<div class="col-md-6">
						{{otherStatistics.finished}}
					</div>
				</div>				
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="col-md-12">
					<label class="col-md-6" align="right">Total Utilizadores:</label> 
					<div class="col-md-6">
						{{otherStatistics.users}}
					</div>
				</div>	
				<br>
				<div class="col-md-12">
					<label class="col-md-6" align="right">Utilizadores Bloqueados:</label> 
					<div class="col-md-6">
						{{otherStatistics.blockedUsers}}
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<canvas id="events" width="400" height="400"></canvas>
			</div>
			<div class="col-md-6 col-xs-12">
				<canvas id="users" width="400" height="400"></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-xs-12">
				<canvas id="categories" width="400" height="400"></canvas>
			</div>
			<div class="col-md-6 col-xs-12">
				<canvas id="eventsThisYear" width="400" height="400"></canvas>
			</div>
		</div>
	</div>
</template>

<script>
	export default {

		props: ['events', 'users', 'categories', 'events_monthly', 'statistics'],

		created() {
			this.eventsData = JSON.parse(this.events);
			this.usersData = JSON.parse(this.users);
			this.categoriesData = JSON.parse(this.categories);
			this.eventsThisYearData = JSON.parse(this.events_monthly);
			this.otherStatistics = JSON.parse(this.statistics);
		},

		mounted() {
			this.loadGraphs();
		},

		data () {
			return  {
				otherStatistics: {
					events: 0,
					advertised: 0,
					ongoing: 0,
					cancellations: 0,
					canceled: 0,
					finished: 0,
					users: 0,
					blockedUsers: 0
				},
				eventsData: {
					labels: [],
					text: "",
					data: []
				},
				usersData: {
					labels: [],
					text: "",
					data: []
				},
				categoriesData: {
					labels: [],
					text: "",
					data: []
				},
				eventsThisYearData: {
					labels: [],
					text: "",
					data: []
				},
			}
		},

		methods : {
			loadGraphs() {
				var Chart = require('chart.js');

				// Events Graph
				var eventsElement = document.getElementById("events");
				var events = new Chart(eventsElement, {
					type: 'horizontalBar',
					data: {
						labels: this.eventsData.labels,
						datasets: [{
							label: this.eventsData.text,
							data: this.eventsData.data,
							backgroundColor: 'rgba(0, 160, 0, 0.2)',
							borderColor: 'rgba(0, 160, 0, 1)',
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						legend: {
							onClick: (e) => e.stopPropagation()
						},
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero:true
								}
							}]
						}
					}
				});

				// Users Graph
				var usersElement = document.getElementById("users");
				var users = new Chart(usersElement, {
					type: 'horizontalBar',
					data: {
						labels: this.usersData.labels,
						datasets: [{
							label: this.usersData.text,
							data: this.usersData.data,
							backgroundColor: 'rgba(1, 158, 255, 0.2)',
							borderColor: 'rgba(1, 158, 255, 1)',
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						legend: {
							onClick: (e) => e.stopPropagation()
						},
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero:true
								}
							}]
						}
					}
				});

				// Top10 categories Graph
				var categoryElement = document.getElementById("categories");
				var categories = new Chart(categoryElement, {
					type: 'horizontalBar',
					data: {
						labels: this.categoriesData.labels,
						datasets: [{
							label: this.categoriesData.text,
							data: this.categoriesData.data,
							backgroundColor: 'rgba(252, 177, 0, 0.2)',
							borderColor: 'rgba(252, 177, 0, 1)',
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						legend: {
							onClick: (e) => e.stopPropagation()
						},
						scales: {
							yAxes: [{
								ticks: {
									stepSize:1,
									beginAtZero:true
								}
							}]
						}
					}
				});

				// Events per month Graph
				var eventsThisYearElement = document.getElementById("eventsThisYear");
				var eventsThisYear = new Chart(eventsThisYearElement, {
					type: 'horizontalBar',
					data: {
						labels: this.eventsThisYearData.labels,
						datasets: [{
							label: this.eventsThisYearData.text,
							data: this.eventsThisYearData.data,
							backgroundColor: 'rgba(0, 78, 0, 0.2)',
							borderColor: 'rgba(0, 78, 0, 1)',
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						legend: {
							onClick: (e) => e.stopPropagation()
						},
						scales: {
							yAxes: [{
								ticks: {
									stepSize:1,
									beginAtZero:true
								}
							}]
						}
					}
				});
			}
		}
	}
</script>

<style>
canvas{
	margin-bottom: 20px;
}
</style>