<template>
	<div>
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Processo de Registo</h4></div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" method="POST" @keydown="errors.clear($event.target.name)">
						<div class="form-group required">
							<label for="name" class="col-md-3 control-label">Nome</label>

							<div class="col-md-6">
								<input id="name" v-model="user.name" type="text" class="form-control" required autofocus>

							</div>
							<div class="col-md-offset-1 col-md-8">

								<span v-if="errors.has('name')"
								class="help-block error-span">
								<strong>{{errors.get('name')}}</strong></span>

							</div>
						</div>

						<div class="form-group required">
							<label for="email" class="col-md-3 control-label">E-Mail</label>

							<div class="col-md-6">
								<input id="email" v-model="user.email" type="email" class="form-control" name="email" required>

							</div>
							<div class="col-md-offset-1 col-md-8">

								<span v-if="errors.has('email')"
								class="help-block error-span">
								<strong>{{errors.get('email')}}</strong></span>
							</div>
						</div>

						<div class="form-group required">
							<label for="password" class="col-md-3 control-label">Password</label>

							<div class="col-md-6">
								<input id="password" v-model="user.password" type="password" class="form-control" name="password" required>

							</div>
							<div class="col-md-offset-1 col-md-8">
								<span v-if="errors.has('password')"
								class="help-block error-span">
								<strong>{{errors.get('password')}}</strong></span>

							</div>
						</div>

						<div class="form-group required">
							<label for="password-confirm" class="col-md-3 control-label">Confirmar Password</label>

							<div class="col-md-6">
								<input id="password-confirm" v-model="user.password_confirmation" type="password" class="form-control" name="password_confirmation" >
							</div>
						</div>

						<hr>

						<div class="form-group" align="center">
							<button @click.prevent="cancelRegistry" class="button is-danger is-large col-md-offset-3 col-md-3">
								Cancelar Registo
							</button>
							<button id="rightButton" @click.prevent="submitForm" class="button is-primary is-large col-md-3">
								Criar Conta
							</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	const Errors = require('../../classes/errors.js');

	const User = require('../../classes/user.js');

	export default{

		props: ['districts'],


		created(){
			console.log("Created component register user");
			this.districtList = JSON.parse(this.districts);
			this.initDatepicker();
			this.initAlertify();
		},

		data(){

			return {
				districtList: undefined,
				user: new User(),
				imageIsSet: false,
				errors: new Errors()

			}
		},

		methods : {

			getCroppedImage(image)
			{
				this.user.profileImage = image;
				this.imageIsSet = true;
			},

			onFocusOut(field){
				this.errors.clear(field);
			},

			submitForm(){

				var instance = this;

				this.user.profileImage = this.imageIsSet ? this.user.profileImage : null;

				axios.post('register', this.user)
				.then(response => {
					
					alertify.alert('Formulário de Registo', 'Conta criada com sucesso!<br>Enviamos-lhe um email de confirmação! Por favor verifique o seu email!',
						function(){
							window.location.href = '/';
						});
				})
				.catch(errors => {
					
					window.scrollTo(0, 0);

					var received = errors.response.data;

					if(received.hasOwnProperty("socialAccount") && Object.keys(received).length == 2)
					{
						alertify.confirm("Formulário de Registo", 
							"Já existe uma conta de uma rede social com este email, pretende associar esta conta à mesma?", 
							function(){  	
								axios.post('createAccount', instance.user)
								.then(response => {
									alertify.alert('Formulário de Registo', 'Enviamos um email para finalizar a associação da sua nova conta à sua conta anteriormente existente!', function(){
										window.location.href = '/login';
									});
								})
								.catch(errors => {
									console.log(errors.response.data);
								});
							}, 
							function(){   
								instance.errors.record(errors.response.data);
							})
						.set('labels', {ok:'Sim', cancel:'Não'});
					}					
					else{

						instance.user.password = '';
						instance.user.password_confirmation = '';
						if(received.hasOwnProperty("emailNotConfirmed"))
						{
							alertify.alert('Formulário de Registo', 'Já existe uma conta criada com esse email! Enviamos-lhe novamente um email de confirmação', 
								function() {
									window.location.href='/login';
								});
						}
						else {
							alertify.alert('Formulário de Registo', 'O Formulário Contem Erros. Por Favor Reveja-o e Tente Novamente', 
								function() {
									instance.errors.record(errors.response.data);
								});
						}
					}
					
				});

			},

			cancelRegistry(){
				window.location.href = '/';
			},


			initDatepicker(){

				var maxDate = new Date();
				maxDate.setFullYear (maxDate.getFullYear() - 14);
				
				console.log(maxDate.getFullYear());
				require('eonasdan-bootstrap-datetimepicker');
				var moment = require('moment');

				let initOptions = {

					format: 'DD/MM/YYYY',
					minDate: Date.parse('Jan 1, 1930'),
					maxDate: maxDate,
					viewMode: 'decades',
					locale: moment.locale('pt'),
					widgetPositioning:  {
						horizontal: 'auto',
						vertical: 'bottom'
					},

				}

				var instance = this;

				$(document).ready( function () {

					$('#birthdate').datetimepicker(initOptions);

					$('#birthdate').val('');
					$('#birthdate').on('dp.change', function(e){
						instance.user.birthdate = e.date;
						instance.errors.clear('birthdate');
						instance.$forceUpdate();
					})

				})

			},

			initAlertify(){

				alertify.defaults.transition = "slide";
				alertify.defaults.theme.ok = "button is-primary is-large";
				alertify.defaults.theme.cancel = "button is-danger is-large";
				alertify.set('notifier', 'position', 'top-right');
				alertify.defaults.maintainFocus = false;
			},

		}
	}
</script>

<style>
	.error-span {
		color:#ff4d4d;
	}

	.form-group.required .control-label:after { 
		content:"*";
		color:red;
		font-size: 125%;
	}
	#rightButton {
		margin-left:20px;
	}
</style>

