<template>
	<div>
		<event-list @orderByParam="orderByParam($event)" @orderByType="orderByType($event)" @unfollow="unfollow($event)" :events="events"
		:paginator="paginator" @getPage="updatePagination($event)" :searchOptions="searchOptions" :loading="loading"
		purpose="following"></event-list>
	</div>

</template>
<script type="text/javascript">

	const Paginator = require('../../classes/paginator.js');

	export default{

		props: ['base_url'],

		data (){

			return {
				searchOptions: {
					orderByParam: 'name',
					orderByType: 'asc',
				},
				paginator: new Paginator(),
				events: [],
				programmatic: true,
				loading: false,
			}
		},

		created(){

			

		},

		mounted () {
			console.log("event-list-wrapper mounted");
			if(window.location.href.indexOf('#') != -1)
			{	
				console.log("Initial Parse");
				console.log(window.location.href);
				this.parseURL();
			}
			else{
				this.requestEvents();
			}

			window.onhashchange = this.listenForURLChanges;
			
		},

		methods: {
			requestEvents(){

				console.log("Requesting");
				var instance = this;
				this.loading = true;

				axios.post(this.base_url + '?page=' + this.paginator.currentPage, this.searchOptions)
				.then( response => {
					console.log("Recieved Events");
					instance.loading=false;
					instance.events = response.data.data;
					instance.paginator
					.update(response.data.current_page, 
						response.data.total, 
						response.data.last_page);


				})
				.catch(error => {
					console.log(error);   
				});
			},


			unfollow(event){


				if(this.events.length == 1)
				{
					if(this.paginator.currentPage > 1 )
					{		
						//Not First Page but last event, it must ask for the back page
						this.paginator.currentPage --;
						this.updatePagination(this.paginator.currentPage);
					}
					else{
						//First Page and Last Event
						this.requestEvents();
					}
				}
				else{
					this.requestEvents();
				}




			},

			updatePagination(page)
			{
				this.paginator.currentPage = page;
				this.updateURL();
			},

			orderByType(type)
			{
				console.log("helloToo");
				this.searchOptions.orderByType = type;
				this.updatePagination(1);

			},

			orderByParam(param)
			{
				this.searchOptions.orderByParam = param;
				this.updatePagination(1);
			},

			updateURL(){

				var url = this.getURL();

				this.programmatic = true;

				window.location.href = url;

			},

			getURL(){

				var url = this.base_url + '#&orderBy='+ this.searchOptions.orderByParam
				+'&orderType=' + this.searchOptions.orderByType;
				if(this.paginator.currentPage > 1)
				{
					url = url + '&?page=' + this.paginator.currentPage;
				} 

				return url;
			},

			listenForURLChanges(){
				console.log('Listener Triggered');
				console.log(this.programmatic);
				if(!this.programmatic)
				{
					this.parseURL();
				}
				else{
					console.log('Entered not parse');
					this.requestEvents();
					this.programmatic = false;
				}

			},

			parseURL(){
				console.log('Parsing URL');
				var href = window.location.href;
				var paramString = href.substring(href.indexOf('#'));

				this.paginator.currentPage = 1;

				if(paramString.length>1)
				{

					var params = paramString.split('&');

					console.log(params);
					for(let i = 1; i < params.length; i++){
						if(params[i].indexOf('orderBy') != -1)
						{
							this.searchOptions.orderByParam = params[i].substring(params[i].indexOf('=')+1);
						}
						else{
							if(params[i].indexOf('orderType') != -1)
							{
								this.searchOptions.orderByType = params[i].substring(params[i].indexOf('=')+1);

							}
							else{

								this.paginator.currentPage = params[i].indexOf('?page=') == -1 ? 1 :
								params[i].substring(params[i].indexOf('=')+1);

							}
						}

					}
					this.requestEvents();
				}
			}
		}
	}

</script>
