 <template>
 	<div>
 		<a class="list-group-item list-group-item-action align-items-start col-md-12 clickable" @click.prevent="showEvent()">
 			<div class="listItem">
 				<div>
 					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
 						<img :src="'/images/event/list/'+event.image_id" class="img">
 					</div>
 					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
 						<h3 class="mb-1">{{ event.name }}</h3>
 						<p>
 							<b>Inicio:</b> {{ formatDate(event.initDate) }}
 						</p>
 						<p v-if="event.spaceName">
 							<b>Nome do Espaço:</b> {{ event.spaceName }}
 						</p>
 						<p>
 							<b>Categoria:</b> {{event.categoryName}}
 						</p>
 						<p>
 							<b>Etiquetas:</b><span v-for="tag in event.tags">#{{ tag }} </span>
 						</p>
 					</div>
 				</div>
 			</div>
 		</a>
 		<div class="list-group-item list-group-item-action align-items-start col-md-12 inline">
 			<div v-if="this.getEventInfo()" class="col-md-6 col-sm-6 col-xs-6 info-wrapper">
 				{{ this.getEventInfo() }}
 			</div>
 			<div v-if="following" :class="this.getEventInfo() ? 'col-md-6 col-sm-6 col-xs-6' : 'col-md-12 col-sm-12 col-xs-12'" align="right">
 				<button class="button is-warning is-medium" @click.prevents="unfollow()">Não Seguir</button>
 			</div>
 		</div>
 	</div>
 </template>
 <script>

 	export default{

 		props: ['event'],

 		mounted(){
 			console.log('Following-event mounted.');
 		},

 		created() {
 			this.initAlertify();
 		},

 		data () {
 			return {
 				following: true,
 			}
 		},

 		methods: {

 			showEvent()
 			{
 				window.location.href = '/event/'+this.event.id;
 			},

 			unfollow()
 			{
 				var instance = this;
 				alertify.confirm("Deixar de Seguir", 
 					"Tem a certeza que pretende deixar de seguir o evento?<br>Nota: O evento desaparecerá da sua lista de eventos seguidos!<br>E deixará de receber emails do evento!", 
 					function(){ 
 						axios.post('/event/follow/'+instance.event.id)
 						.then(response => {
 							instance.$emit('followTrigger', 'UNFOLLOW');
 						})
 						.catch(errors => {
 							instance.following = !instance.following;
 						});
 					}, 
 					function(){   })
 				.set('labels', {ok:'Sim', cancel:'Não'});	
 				
 			},

 			getEventInfo(){
 				var info = '';

 				if(this.event.hidden)
 				{
 					info = info + '[ Evento Ocultado ]';
 				}

				// canceled
				if(this.event.status == 2 || this.event.status == 3)
				{
					info = info + '  [ Evento Cancelado ]';

					return info;
				}

				if(this.event.status == 1)
				{
					if(Date.now() > Date.parse(this.event.initDate))
					{
						info = info + ' [ Evento a Decorrer ]'; 
					}

					return info;
				}

				if(this.event.status >= 4 )
				{
					if(Date.now() < Date.parse(this.event.finishEvalDay))
					{
						info = info + '  [ Evento em Avaliação ]';
					}
					else{

						info = info + '   [ Evento Terminado ]';
					}

					return info;
				}

				return info;
			},

			initAlertify(){

				alertify.defaults.transition = "slide";
				alertify.defaults.theme.ok = "button is-primary is-large";
				alertify.defaults.theme.cancel = "button is-danger is-large";
				alertify.set('notifier', 'position', 'top-right');
				alertify.defaults.maintainFocus = false;
			},

			formatDate(date) {
				var data = new Date(date);

				var weekday = new Array(7);
				weekday[0] = "Domingo";
				weekday[1] = "Segunda-Feira";
				weekday[2] = "Terça-Feira";
				weekday[3] = "Quarta-Feira";
				weekday[4] = "Quinta-Feira";
				weekday[5] = "Sexta-Feira";
				weekday[6] = "Sábado";

				var month=new Array();
				month[0]="Janeiro";
				month[1]="Fevereiro";
				month[2]="Março";
				month[3]="Abril";
				month[4]="Maio";
				month[5]="Junho";
				month[6]="Julho";
				month[7]="Agosto";
				month[8]="Setembro";
				month[9]="Outubro";
				month[10]="Novembro";
				month[11]="Dezembro";

				var dateString = weekday[data.getDay()]+", "+(data.getDate() < 10 ? "0"+data.getDate() : data.getDate())+" de "+month[data.getMonth()]+" de "+(data.getYear()+1900);

				return dateString;
			},
		}
	}

</script>

<style>
	.listItem {
		width: 100%;
		height: auto;
	}

	.img {
		max-width: 100%;
		height: auto;
	}

	.info-wrapper {
		margin-top:5px;
	}

	.clickable {
		cursor: pointer;
	}
	.inline {
		word-wrap: nowrap;
		display: block;
		border-top: 0 none;
		overflow:auto;
	}

</style>